

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-571656263440532295.gps.gpsil [style*="--ai:"]{align-items:var(--ai)}.gps-571656263440532295.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-571656263440532295.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-571656263440532295.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-571656263440532295.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-571656263440532295.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-571656263440532295.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-571656263440532295.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-571656263440532295.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-571656263440532295.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-571656263440532295.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-571656263440532295.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-571656263440532295.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-571656263440532295.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-571656263440532295.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-571656263440532295.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-571656263440532295.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-571656263440532295.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-571656263440532295.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-571656263440532295.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-571656263440532295.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-571656263440532295.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-571656263440532295.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-571656263440532295.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-571656263440532295.gps.gpsil [style*="--ml:"]{margin-left:var(--ml)}.gps-571656263440532295.gps.gpsil [style*="--mr:"]{margin-right:var(--mr)}.gps-571656263440532295.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-571656263440532295.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-571656263440532295.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-571656263440532295.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-571656263440532295.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-571656263440532295.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-571656263440532295.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-571656263440532295.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-571656263440532295.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-571656263440532295.gps.gpsil [style*="--pos:"]{position:var(--pos)}.gps-571656263440532295.gps.gpsil [style*="--rg:"]{row-gap:var(--rg)}.gps-571656263440532295.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-571656263440532295.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-571656263440532295.gps.gpsil [style*="--top:"]{top:var(--top)}.gps-571656263440532295.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-571656263440532295.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-571656263440532295.gps.gpsil [style*="--z:"]{z-index:var(--z)}.gps-571656263440532295.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-571656263440532295.gps.gpsil [style*="--ai-tablet:"]{align-items:var(--ai-tablet)}.gps-571656263440532295.gps.gpsil [style*="--bgi-tablet:"]{background-image:var(--bgi-tablet)}.gps-571656263440532295.gps.gpsil [style*="--cg-tablet:"]{-moz-column-gap:var(--cg-tablet);column-gap:var(--cg-tablet)}.gps-571656263440532295.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-571656263440532295.gps.gpsil [style*="--gtc-tablet:"]{grid-template-columns:var(--gtc-tablet)}.gps-571656263440532295.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-571656263440532295.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-571656263440532295.gps.gpsil [style*="--ml-tablet:"]{margin-left:var(--ml-tablet)}.gps-571656263440532295.gps.gpsil [style*="--mr-tablet:"]{margin-right:var(--mr-tablet)}.gps-571656263440532295.gps.gpsil [style*="--mt-tablet:"]{margin-top:var(--mt-tablet)}.gps-571656263440532295.gps.gpsil [style*="--pc-tablet:"]{place-content:var(--pc-tablet)}.gps-571656263440532295.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-571656263440532295.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-571656263440532295.gps.gpsil [style*="--pos-tablet:"]{position:var(--pos-tablet)}.gps-571656263440532295.gps.gpsil [style*="--top-tablet:"]{top:var(--top-tablet)}.gps-571656263440532295.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-571656263440532295.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-571656263440532295.gps.gpsil [style*="--ai-mobile:"]{align-items:var(--ai-mobile)}.gps-571656263440532295.gps.gpsil [style*="--bgi-mobile:"]{background-image:var(--bgi-mobile)}.gps-571656263440532295.gps.gpsil [style*="--bgp-mobile:"]{background-position:var(--bgp-mobile)}.gps-571656263440532295.gps.gpsil [style*="--bgr-mobile:"]{background-repeat:var(--bgr-mobile)}.gps-571656263440532295.gps.gpsil [style*="--bgs-mobile:"]{background-size:var(--bgs-mobile)}.gps-571656263440532295.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-571656263440532295.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-571656263440532295.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-571656263440532295.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-571656263440532295.gps.gpsil [style*="--ml-mobile:"]{margin-left:var(--ml-mobile)}.gps-571656263440532295.gps.gpsil [style*="--mr-mobile:"]{margin-right:var(--mr-mobile)}.gps-571656263440532295.gps.gpsil [style*="--mt-mobile:"]{margin-top:var(--mt-mobile)}.gps-571656263440532295.gps.gpsil [style*="--pc-mobile:"]{place-content:var(--pc-mobile)}.gps-571656263440532295.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-571656263440532295.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-571656263440532295.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-571656263440532295.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-571656263440532295.gps.gpsil [style*="--pos-mobile:"]{position:var(--pos-mobile)}.gps-571656263440532295.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-571656263440532295.gps.gpsil [style*="--top-mobile:"]{top:var(--top-mobile)}.gps-571656263440532295.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-571656263440532295.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-571656263440532295 .gp-g-paragraph-1{font-family:var(--g-p1-ff);font-size:var(--g-p1-size);font-style:var(--g-p1-fs);font-weight:var(--g-p1-weight);letter-spacing:var(--g-p1-ls);line-height:var(--g-p1-lh)}.gps-571656263440532295 .gp-absolute{position:absolute}.gps-571656263440532295 .gp-relative{position:relative}.gps-571656263440532295 .gp-z-1{z-index:1}.gps-571656263440532295 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-571656263440532295 .gp-mb-0{margin-bottom:0}.gps-571656263440532295 .gp-flex{display:flex}.gps-571656263440532295 .gp-inline-flex{display:inline-flex}.gps-571656263440532295 .gp-grid{display:grid}.gps-571656263440532295 .\!gp-hidden{display:none!important}.gps-571656263440532295 .gp-hidden{display:none}.gps-571656263440532295 .gp-h-full{height:100%}.gps-571656263440532295 .gp-w-full{width:100%}.gps-571656263440532295 .gp-max-w-full{max-width:100%}.gps-571656263440532295 .gp-shrink-0{flex-shrink:0}.gps-571656263440532295 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-571656263440532295 .gp-flex-col{flex-direction:column}.gps-571656263440532295 .gp-items-center{align-items:center}.gps-571656263440532295 .\!gp-justify-center{justify-content:center!important}.gps-571656263440532295 .gp-justify-center{justify-content:center}.gps-571656263440532295 .gp-gap-y-0{row-gap:0}.gps-571656263440532295 .gp-overflow-hidden{overflow:hidden}.gps-571656263440532295 .gp-text-left{text-align:left}.gps-571656263440532295 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-571656263440532295 .gp-duration-200{transition-duration:.2s}.gps-571656263440532295 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-571656263440532295 .tablet\:gp-relative{position:relative}.gps-571656263440532295 .tablet\:\!gp-hidden{display:none!important}.gps-571656263440532295 .tablet\:gp-hidden{display:none}.gps-571656263440532295 .tablet\:\!gp-content-stretch{align-content:stretch!important}.gps-571656263440532295 .tablet\:\!gp-justify-center{justify-content:center!important}}@media (max-width:767px){.gps-571656263440532295 .mobile\:gp-relative{position:relative}.gps-571656263440532295 .mobile\:\!gp-hidden{display:none!important}.gps-571656263440532295 .mobile\:gp-hidden{display:none}.gps-571656263440532295 .mobile\:\!gp-content-stretch{align-content:stretch!important}.gps-571656263440532295 .mobile\:\!gp-justify-center{justify-content:center!important}}@media (max-width:1024px){.gps-571656263440532295 .tablet\:\[\&\>\*\]\:\!gp-justify-center>*{justify-content:center!important}}@media (max-width:767px){.gps-571656263440532295 .mobile\:\[\&\>\*\]\:\!gp-justify-center>*{justify-content:center!important}}.gps-571656263440532295 .\[\&\>svg\]\:\!gp-h-\[var\(--size-desktop\)\]>svg{height:var(--size-desktop)!important}.gps-571656263440532295 .\[\&\>svg\]\:\!gp-w-\[var\(--size-desktop\)\]>svg{width:var(--size-desktop)!important}@media (max-width:1024px){.gps-571656263440532295 .tablet\:\[\&\>svg\]\:\!gp-h-\[var\(--size-tablet\)\]>svg{height:var(--size-tablet)!important}.gps-571656263440532295 .tablet\:\[\&\>svg\]\:\!gp-w-\[var\(--size-tablet\)\]>svg{width:var(--size-tablet)!important}}@media (max-width:767px){.gps-571656263440532295 .mobile\:\[\&\>svg\]\:\!gp-h-\[var\(--size-mobile\)\]>svg{height:var(--size-mobile)!important}.gps-571656263440532295 .mobile\:\[\&\>svg\]\:\!gp-w-\[var\(--size-mobile\)\]>svg{width:var(--size-mobile)!important}}.gps-571656263440532295 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-571656263440532295 .\[\&_p\]\:gp-inline p{display:inline}.gps-571656263440532295 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-571656263440532295 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="gWWAwW2Wj6" data-id="gWWAwW2Wj6"
        style="--blockPadding:base;--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gWWAwW2Wj6 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="g7-jSlZV6I gp-relative gp-flex gp-flex-col"
    >
      
    <div class="gp-flex gp-w-full !gp-justify-center tablet:!gp-justify-center mobile:!gp-justify-center" style="--h:604px;--h-tablet:500px;--h-mobile:500px;--d:flex;--d-tablet:flex;--d-mobile:flex;--mt:0px;--ml:auto;--mb:0px;--mr:auto">
      <gp-hero-banner
        gp-data='{"target":"_blank","background":{"desktop":{"size":"cover","type":"image","color":"","image":{"src":"https://cdn.shopify.com/s/files/1/0918/6921/7112/files/gempages_569355663839331198-80e8b508-094c-4e73-a253-91ec338099fe.jpg","width":1920,"height":644,"backupFileKey":"gempages_569355663839331198-80e8b508-094c-4e73-a253-91ec338099fe.jpg","storage":"FILE_CONTENT"},"repeat":"no-repeat","position":{"x":50,"y":50},"attachment":"scroll"},"tablet":{"size":"cover","type":"image","color":"","image":{"src":"https://cdn.shopify.com/s/files/1/0918/6921/7112/files/gempages_569355663839331198-80e8b508-094c-4e73-a253-91ec338099fe.jpg","width":1920,"height":644,"backupFileKey":"gempages_569355663839331198-80e8b508-094c-4e73-a253-91ec338099fe.jpg","storage":"FILE_CONTENT"},"repeat":"no-repeat","position":{"x":50,"y":50},"attachment":"scroll"},"mobile":{"size":"cover","type":"image","color":"","image":{"src":"https://cdn.shopify.com/s/files/1/0918/6921/7112/files/gempages_569355663839331198-a6be2474-7e76-4021-bd1d-0dad0dad6069.jpg","width":400,"height":576,"backupFileKey":"gempages_569355663839331198-a6be2474-7e76-4021-bd1d-0dad0dad6069.jpg","storage":"FILE_CONTENT"},"repeat":"no-repeat","position":{"x":50,"y":50},"attachment":"scroll"}},"uid":"rewrap_row_crAUHAOBUWSJ","enableParallax":false,"speedParallax":0.6,"hoverEffect":false,"hoverEffectScale":"110%","layout":{"desktop":{"cols":[12],"display":"fill"},"mobile":{"cols":[12],"display":"fill"},"tablet":{"cols":[12],"display":"fill"}},"contentPosition1Col":{"desktop":"center"},"contentPosition2Col":{"desktop":"center"}}'
        gp-href=""
        
        class="rewrap_row_crAUHAOBUWSJ gp-group/hero gp-flex gp-flex-col gp-transition-colors gp-duration-200 gp-ease-in-out gp-w-full"
        style="--d:flex;--d-tablet:flex;--d-mobile:flex;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--h:604px;--h-tablet:500px;--h-mobile:500px;--w:100%;--w-tablet:100%;--w-mobile:100%"
        data-id="rewrap_row_crAUHAOBUWSJ"
      >
        
      <div
        class="gp-relative gp-flex gp-flex-col gp-items-center gp-overflow-hidden gp_haslazybg !gp-justify-center tablet:!gp-justify-center mobile:!gp-justify-center"
        style="--h:604px;--h-tablet:500px;--h-mobile:500px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--shadow:none"
      >
        
  <picture style="border-radius: inherit" class="gp-w-full">
  
      <source media="(max-width: 767px)" srcset="{{ "gempages_569355663839331198-a6be2474-7e76-4021-bd1d-0dad0dad6069.jpg" | file_url }}" />
      <source media="(max-width: 1024px)" srcset="{{ "gempages_569355663839331198-80e8b508-094c-4e73-a253-91ec338099fe.jpg" | file_url }}" />
      <img
        title
        class="adaptive-hero-banner"
        src="{{ "gempages_569355663839331198-80e8b508-094c-4e73-a253-91ec338099fe.jpg" | file_url }}"
        alt=""
        fetchpriority="high"
        style="--d:none;--d-tablet:none;--d-mobile:none;--h:604px;--h-tablet:500px;--h-mobile:500px;--w:100%;--w-tablet:100%;--w-mobile:100%;--op:0;--z:-1"
      />
    
  </picture>
        <div class="gp-absolute gp-w-full gp-h-full">
          <div
            class="gp-overflow-hidden gp-relative gp-w-full gp-h-full"
            >
            <div
              aria-label="Background Image"
              role="banner"
              class='gp-hero-banner-bg gp-absolute gp-overflow-hidden gp-w-full gp-h-full top-0 left-0'
              style="clip-path:inset(0 0 0 round 0px 0px 0px 0px)"
            >
            <div class="hero-banner-bg-parallax gp-hero-banner-image-background"
              style="--bgi:url({{ "gempages_569355663839331198-80e8b508-094c-4e73-a253-91ec338099fe.jpg" | file_url }});--bgi-tablet:url({{ "gempages_569355663839331198-80e8b508-094c-4e73-a253-91ec338099fe.jpg" | file_url }});--bgi-mobile:url({{ "gempages_569355663839331198-a6be2474-7e76-4021-bd1d-0dad0dad6069.jpg" | file_url }});--bgp:50% 50%;--bgp-mobile:50% 50%;--bgs:cover;--bgs-mobile:cover;--bgr:no-repeat;--bgr-mobile:no-repeat;--duration:0.5s;--scale:110%;--pos:absolute;--pos-tablet:absolute;--pos-mobile:absolute;--h:100%;--h-tablet:100%;--h-mobile:100%;--w:100%;--w-tablet:100%;--w-mobile:100%;--top:;--top-tablet:;--top-mobile:"
            >
            
            
            </div></div>
          </div>
          
          </div>
          
       
      
    <div
      id data-id
        style="--pl:0px;--pr:0px;--pt:32px;--pb:32px;--pl-mobile:16px;--pr-mobile:16px;--pt-mobile:16px;--pb-mobile:16px;--cg:32px;--cg-tablet:32px;--pc:center;--pc-tablet:center;--pc-mobile:center;--gtc:minmax(0, 12fr);--gtc-tablet:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:1200px;--w-tablet:var(--g-ct-w, 1200px);--w-mobile:var(--g-ct-w, 1200px)"
        class="gp-hero-banner-row gp-z-1 gp-w-full tablet:gp-relative mobile:gp-relative tablet:[&>*>*]:!gp-justify-undefined mobile:[&>*>*]:!gp-justify-undefined tablet:!gp-content-stretch tablet:[&>*]:!gp-justify-center mobile:!gp-content-stretch mobile:[&>*]:!gp-justify-center gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="c-hb-rewrap_row_crAUHAOBUWSJ gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="sp-c-nsw-i2l679298f4bf" data-id="sp-c-nsw-i2l679298f4bf"
        style="--mt:auto;--ml:1px;--mb:auto;--mr:auto;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mt-tablet:auto;--ml-tablet:auto;--mb-tablet:auto;--mr-tablet:auto;--cg:32px;--cg-tablet:32px;--pc:center;--gtc:minmax(0, 12fr);--gtc-tablet:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:1004px;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="sp-c-nsw-i2l679298f4bf gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="c-nsw-i2l679298f4bf gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="SEFlnsRxLoDA">
    <div
      parentTag="Col"
        class="SEFlnsRxLoDA "
        style="--ta:center;--mt:0px;--ml:0px;--mb:16px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px"
      >
      <div class="gp-flex" style="--jc:center">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:center;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-heading, heading);--weight:500;--size:33px;--size-tablet:32px;--size-mobile:20px;--c:rgb(253, 253, 253);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gSEFlnsRxLoDA_text | replace: '$locationOrigin', locationOrigin }}</h2>
      </div>
    </div>
    </gp-text>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="apdEOCGpgmRi">
    <div
      parentTag="Col"
        class="apdEOCGpgmRi "
        style="--ta:center;--mt:0px;--ml:0px;--mb:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mt-mobile:0px;--ml-mobile:0px;--mb-mobile:28px;--mr-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--ta-mobile:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-sans-serif, 'sans-serif'), var(--g-font-heading, heading);--weight:400;--size:19px;--size-tablet:18px;--size-mobile:12px;--c:rgb(255, 255, 255);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gapdEOCGpgmRi_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    <div gp-el-wrapper  class="gHCEF6q2mn ">
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <gp-icon-list
      uid="gHCEF6q2mn"
      data-id="gHCEF6q2mn"
      gp-data='{"position":{"desktop":"center","tablet":"center","mobile":"center"},"iconWidth":{"desktop":16,"tablet":16,"mobile":25}}'
       style="--mr-mobile:0px;--pl-mobile:10px;--pr-mobile:10px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll">
     
      <div class="gp-flex" style="--jc:left">
        <div
        class="gp-inline-flex gp-flex-col "
        style="--rg:16px">
        
           <div
            class="gp-icon-list-wrapper gp-flex gp-child-item-gHCEF6q2mn"
            style="--cg:8px;--ai:center;--ai-tablet:center;--ai-mobile:center"
            data-index="0"
          >
            <div class="gp-icon-list-icon gp-inline-flex gp-shrink-0 gp-overflow-hidden" style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--bg:transparent;--pos:relative;--pos-tablet:relative;--pos-mobile:relative;--top:inherit;--top-tablet:inherit;--top-mobile:inherit">
              <span
                class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--size-desktop)] tablet:[&>svg]:!gp-h-[var(--size-tablet)] mobile:[&>svg]:!gp-h-[var(--size-mobile)] [&>svg]:!gp-w-[var(--size-desktop)] tablet:[&>svg]:!gp-w-[var(--size-tablet)] mobile:[&>svg]:!gp-w-[var(--size-mobile)]"
                style="--c:#f4f4f4;--w:100%;--h:100%;--size-desktop:16px;--size-tablet:16px;--size-mobile:25px"
              >
               <svg height="20" width="20" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256" fill="currentColor" data-id="508414807831544168"><path fill="currentColor" strokelinecap="round" strokelinejoin="round" d="M128,24A104,104,0,1,0,232,128,104.11,104.11,0,0,0,128,24Zm45.66,85.66-56,56a8,8,0,0,1-11.32,0l-24-24a8,8,0,0,1,11.32-11.32L112,148.69l50.34-50.35a8,8,0,0,1,11.32,11.32Z"></path></svg>
              </span>
            </div>
             <div class="gp-g-paragraph-1 gp-text-left gp-icon-list-text" style="--c:#f4f4f4">
                {{ section.settings.ggHCEF6q2mn_childItem_0 | replace: '$locationOrigin', locationOrigin }}
            </div>
            </div> 
           <div
            class="gp-icon-list-wrapper gp-flex gp-child-item-gHCEF6q2mn"
            style="--cg:8px;--ai:center;--ai-tablet:center;--ai-mobile:center"
            data-index="1"
          >
            <div class="gp-icon-list-icon gp-inline-flex gp-shrink-0 gp-overflow-hidden" style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--bg:transparent;--pos:relative;--pos-tablet:relative;--pos-mobile:relative;--top:inherit;--top-tablet:inherit;--top-mobile:inherit">
              <span
                class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--size-desktop)] tablet:[&>svg]:!gp-h-[var(--size-tablet)] mobile:[&>svg]:!gp-h-[var(--size-mobile)] [&>svg]:!gp-w-[var(--size-desktop)] tablet:[&>svg]:!gp-w-[var(--size-tablet)] mobile:[&>svg]:!gp-w-[var(--size-mobile)]"
                style="--c:#f4f4f4;--w:100%;--h:100%;--size-desktop:16px;--size-tablet:16px;--size-mobile:25px"
              >
               <svg height="20" width="20" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256" fill="currentColor" data-id="508414807831544168"><path fill="currentColor" strokelinecap="round" strokelinejoin="round" d="M128,24A104,104,0,1,0,232,128,104.11,104.11,0,0,0,128,24Zm45.66,85.66-56,56a8,8,0,0,1-11.32,0l-24-24a8,8,0,0,1,11.32-11.32L112,148.69l50.34-50.35a8,8,0,0,1,11.32,11.32Z"></path></svg>
              </span>
            </div>
             <div class="gp-g-paragraph-1 gp-text-left gp-icon-list-text" style="--c:#f4f4f4">
                {{ section.settings.ggHCEF6q2mn_childItem_1 | replace: '$locationOrigin', locationOrigin }}
            </div>
            </div>
      </div>
      </div>
    </gp-icon-list>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-icon-list.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
      </div>
    </div>
    </div>
   
    
    </div>
    </div>
   
    
      </div>
    
        
      </gp-hero-banner>
    </div>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-hero-banner.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>

  
    </div>
    </div>
  
            </section>
           
    
<style {% if section.settings.section_preload == "false" %} class="gps-link" type="text/disabled-css" {% endif %}>@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v23/pxiByp8kv8JHgFVrLGT9Z1xlEw.woff) format('woff');
}
/* devanagari */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v23/pxiByp8kv8JHgFVrLGT9Z11lFd2JQEl8qw.woff2) format('woff2');
  unicode-range: U+0900-097F, U+1CD0-1CF9, U+200C-200D, U+20A8, U+20B9, U+20F0, U+25CC, U+A830-A839, U+A8E0-A8FF, U+11B00-11B09;
}
/* latin-ext */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v23/pxiByp8kv8JHgFVrLGT9Z1JlFd2JQEl8qw.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v23/pxiByp8kv8JHgFVrLGT9Z1xlFd2JQEk.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
</style>

{% schema %}
  {
    
    "name": "Section 4",
    "tag": "section",
    "class": "gps-571656263440532295 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/zsqie8-wr/apps/gempages-cro/app/shopify/edit?pageType=GP_PRODUCT&editorId=569355722106602476&sectionId=571656263440532295)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"gSEFlnsRxLoDA_text","label":"gSEFlnsRxLoDA_text","default":"Vezi rezultatele fără riscuri."},{"type":"html","id":"gapdEOCGpgmRi_text","label":"gapdEOCGpgmRi_text","default":"<p>Încearcă filtrul nostru avansat de apă și experimentează beneficiile cu garanția noastră de 30 de zile. Bucură-te de apă mai curată și mai sigură, fără riscuri.</p>"},{"type":"html","id":"ggHCEF6q2mn_childItem_0","label":"ggHCEF6q2mn_childItem_0","default":"<p>Încearcă 30 de zile.</p>"},{"type":"html","id":"ggHCEF6q2mn_childItem_1","label":"ggHCEF6q2mn_childItem_1","default":"<p>Banii înapoi dacă nu ești mulțumit.</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
