

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-569355942743770092.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-569355942743770092.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-569355942743770092.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-569355942743770092.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-569355942743770092.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-569355942743770092.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-569355942743770092.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-569355942743770092.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-569355942743770092.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-569355942743770092.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-569355942743770092.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-569355942743770092.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-569355942743770092.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-569355942743770092.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-569355942743770092.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-569355942743770092.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-569355942743770092.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-569355942743770092.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-569355942743770092.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-569355942743770092.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-569355942743770092.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-569355942743770092.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-569355942743770092.gps.gpsil [style*="--ml:"]{margin-left:var(--ml)}.gps-569355942743770092.gps.gpsil [style*="--mr:"]{margin-right:var(--mr)}.gps-569355942743770092.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-569355942743770092.gps.gpsil [style*="--minw:"]{min-width:var(--minw)}.gps-569355942743770092.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-569355942743770092.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-569355942743770092.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-569355942743770092.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-569355942743770092.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-569355942743770092.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-569355942743770092.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-569355942743770092.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-569355942743770092.gps.gpsil [style*="--rg:"]{row-gap:var(--rg)}.gps-569355942743770092.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-569355942743770092.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-569355942743770092.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-569355942743770092.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-569355942743770092.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-569355942743770092.gps.gpsil [style*="--cg-tablet:"]{-moz-column-gap:var(--cg-tablet);column-gap:var(--cg-tablet)}.gps-569355942743770092.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-569355942743770092.gps.gpsil [style*="--gtc-tablet:"]{grid-template-columns:var(--gtc-tablet)}.gps-569355942743770092.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-569355942743770092.gps.gpsil [style*="--minw-tablet:"]{min-width:var(--minw-tablet)}.gps-569355942743770092.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-569355942743770092.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-569355942743770092.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-569355942743770092.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-569355942743770092.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-569355942743770092.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-569355942743770092.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-569355942743770092.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-569355942743770092.gps.gpsil [style*="--minw-mobile:"]{min-width:var(--minw-mobile)}.gps-569355942743770092.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-569355942743770092.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-569355942743770092.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-569355942743770092.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-569355942743770092 .gp-relative{position:relative}.gps-569355942743770092 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-569355942743770092 .gp-mb-0{margin-bottom:0}.gps-569355942743770092 .\!gp-inline{display:inline!important}.gps-569355942743770092 .gp-flex{display:flex}.gps-569355942743770092 .gp-inline-flex{display:inline-flex}.gps-569355942743770092 .gp-grid{display:grid}.gps-569355942743770092 .\!gp-hidden{display:none!important}.gps-569355942743770092 .gp-hidden{display:none}.gps-569355942743770092 .gp-h-auto{height:auto}.gps-569355942743770092 .gp-h-full{height:100%}.gps-569355942743770092 .gp-w-full{width:100%}.gps-569355942743770092 .gp-max-w-full{max-width:100%}.gps-569355942743770092 .gp-flex-none{flex:none}.gps-569355942743770092 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-569355942743770092 .gp-flex-col{flex-direction:column}.gps-569355942743770092 .gp-items-center{align-items:center}.gps-569355942743770092 .gp-justify-center{justify-content:center}.gps-569355942743770092 .gp-gap-y-0{row-gap:0}.gps-569355942743770092 .gp-overflow-hidden{overflow:hidden}.gps-569355942743770092 .gp-text-center{text-align:center}.gps-569355942743770092 .gp-leading-\[0\]{line-height:0}.gps-569355942743770092 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-569355942743770092 .gp-duration-200{transition-duration:.2s}.gps-569355942743770092 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-569355942743770092 .tablet\:\!gp-hidden{display:none!important}.gps-569355942743770092 .tablet\:gp-hidden{display:none}.gps-569355942743770092 .tablet\:gp-h-auto{height:auto}.gps-569355942743770092 .tablet\:gp-flex-none{flex:none}}@media (max-width:767px){.gps-569355942743770092 .mobile\:\!gp-hidden{display:none!important}.gps-569355942743770092 .mobile\:gp-hidden{display:none}.gps-569355942743770092 .mobile\:gp-h-auto{height:auto}.gps-569355942743770092 .mobile\:gp-flex-none{flex:none}}.gps-569355942743770092 .\[\&\>svg\]\:\!gp-h-\[var\(--height-desktop\)\]>svg{height:var(--height-desktop)!important}.gps-569355942743770092 .\[\&\>svg\]\:\!gp-w-auto>svg{width:auto!important}@media (max-width:1024px){.gps-569355942743770092 .tablet\:\[\&\>svg\]\:\!gp-h-\[var\(--height-tablet\)\]>svg{height:var(--height-tablet)!important}}@media (max-width:767px){.gps-569355942743770092 .mobile\:\[\&\>svg\]\:\!gp-h-\[var\(--height-mobile\)\]>svg{height:var(--height-mobile)!important}}.gps-569355942743770092 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-569355942743770092 .\[\&_p\]\:gp-inline p{display:inline}.gps-569355942743770092 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-569355942743770092 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:calc(var(--g-ct-w, 1200px) + 2 * var(--g-ct-p, 15px));--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--pl:var(--g-ct-p, 15px);--pl-tablet:var(--g-ct-p, 15px);--pl-mobile:var(--g-ct-p, 15px);--pr:var(--g-ct-p, 15px);--pr-tablet:var(--g-ct-p, 15px);--pr-mobile:var(--g-ct-p, 15px)"
            >
              
    <div
      id="i2l11d51e6a1b" data-id="i2l11d51e6a1b"
        style="--mt:0px;--ml:auto;--mb:0px;--mr:auto;--pt:30px;--pl:0px;--pb:30px;--pr:0px;--cg:32px;--cg-tablet:32px;--pc:center;--gtc:minmax(0, 12fr);--gtc-tablet:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:rgb(254, 254, 254);--bgi:url()"
        class="i2l11d51e6a1b gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="c-w-i2l11d51e6a1b gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="w-i2l11d51e6a1b" data-id="w-i2l11d51e6a1b"
        style="--mt:0px;--ml:auto;--mb:0px;--mr:auto;--pt:0px;--pl:12px;--pb:0px;--pr:12px;--cg:32px;--cg-tablet:32px;--pc:center;--gtc:minmax(0, 12fr);--gtc-tablet:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="w-i2l11d51e6a1b gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="i2le923d18f95 gp-relative gp-flex gp-flex-col"
    >
      
    {%- assign gpBkProduct = product -%}
    
        {%- liquid
          if request.page_type == 'product'
            if 'static' == 'static'
              if 'latest' == 'latest'
                paginate collections.all.products by 100000
                  assign product = collections.all.products | sort: 'created_at' | reverse | first
                endpaginate
              else
                assign product = all_products['']
                assign productId = 'latest' | times: 1
                if product == empty or product == null
                  paginate collections.all.products by 100000
                    for item in collections.all.products
                      if item.id == productId
                        assign product = item
                      endif
                    endfor
                  endpaginate
                endif
              endif
            endif
          else
            if 'latest' == 'latest'
              paginate collections.all.products by 100000
                assign product = collections.all.products | sort: 'created_at'| reverse | first
              endpaginate
            else
              assign product = all_products['']
              assign productId = 'latest' | times: 1
              if product == empty or product == null
                paginate collections.all.products by 100000
                  for item in collections.all.products
                    if item.id == productId
                      assign product = item
                    endif
                  endfor
                endpaginate
              endif
            endif
          endif
        -%}
      

    {%-if product != empty and product != null -%}
      {%- assign initVariantId =  -%}
      {%- assign product_form_id = 'product-form-' | append: "i2lf69a8581ec" -%}
      {%- assign variant = product.selected_or_first_available_variant -%}
      {%- assign productSelectedVariant = product.selected_or_first_available_variant -%}
      {%-if productSelectedVariant == empty or productSelectedVariant == null -%}
        {%- assign productSelectedVariant = product.selected_or_first_available_variant -%}
      {%- endif -%}
      {%-if variant == empty or variant == null -%}
        {%- assign variant = product.selected_or_first_available_variant -%}
      {%- endif -%}
      <gp-product data-uid="i2lf69a8581ec" data-id="i2lf69a8581ec"   gp-context='{"productId": {{ product.id }}, "preSelectedOptionIds": [], "isSyncProduct": "true", "variantSelected": {{ variant | json | escape }}, "inventoryQuantity": {{ variant.inventory_quantity }}, "quantity": 1, "formId": "{{ product_form_id }}" }'
        gp-data='{"variantSelected": {{ variant | json | escape }}, "quantity": 1, "productUrl":{{ product.url | json | escape }}, "productHandle":{{ product.handle | json | escape }}, "collectionUrl": {{ collection.url | json | escape }}, "collectionHandle": {{ collection.handle | json | escape }}}'>
        <product-form class="product-form">
          {%- form 'product', product, id: product_form_id, class: 'form contents', data-type: 'add-to-cart-form', autocomplete: 'off'  -%}
            <input type="hidden" name="id" value="{{ variant.id }}" />
            <input type="hidden" name="quantity" value="{{ quantity }}" />
            <button type="submit" onclick="return false;" style="display:none;"></button>
            
       
      
    <div
      id="i2lf69a8581ec" data-id="i2lf69a8581ec-row"
        style="--mt:0px;--ml:auto;--mb:0px;--mr:auto;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--cg:32px;--cg-tablet:32px;--pc:center;--gtc:minmax(0, 12fr);--gtc-tablet:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%"
        class="i2lf69a8581ec gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="i2l1561fd3edd gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="i2lcc3cc95e3e" data-id="i2lcc3cc95e3e"
        style="--mt:0px;--ml:auto;--mb:0px;--mr:auto;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--cg:32px;--cg-tablet:32px;--pc:center;--gtc:minmax(0, auto) minmax(0, auto);--gtc-tablet:minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:rgb(254, 254, 254);--bgi:url()"
        class="i2lcc3cc95e3e gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="c-sp-i2l4fca453c74 gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="sp-i2l4fca453c74" data-id="sp-i2l4fca453c74"
        style="--mt:0px;--ml:auto;--mb:0px;--mr:auto;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--cg:32px;--cg-tablet:32px;--pc:start;--gtc:minmax(0, 12fr);--gtc-tablet:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:rgb(254, 254, 254);--bgi:url()"
        class="sp-i2l4fca453c74 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="i2l4fca453c74 gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="aiPIZKUxNpwG">
    <div
      parentTag="Col"
        class="aiPIZKUxNpwG "
        style="--ta:left;--mt:0px;--ml:0px;--mb:20px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--ff:var(--g-font-sans-serif, 'sans-serif'), var(--g-font-heading, heading);--weight:400;--size:28px;--size-tablet:32px;--size-mobile:29px;--c:rgb(1, 1, 1);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gaiPIZKUxNpwG_text | replace: '$locationOrigin', locationOrigin }}</h2>
      </div>
    </div>
    </gp-text>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="BAMuyHvxcWBD">
    <div
      parentTag="Col"
        class="BAMuyHvxcWBD "
        style="--ta:left;--mt:0px;--ml:0px;--mb:44px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-sans-serif, 'sans-serif'), var(--g-font-heading, heading);--weight:400;--size:20px;--size-tablet:18px;--size-mobile:16px;--c:rgb(126, 126, 126);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gBAMuyHvxcWBD_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
       
      
    <div
      parentTag="Col" id="i2l069e4e330f" data-id="i2l069e4e330f"
        style="--mt:0px;--ml:auto;--mb:0px;--mr:auto;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--cg:32px;--cg-tablet:32px;--pc:start;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:rgb(254, 254, 254);--bgi:url()"
        class="i2l069e4e330f gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="c-i2l05cfa9a8c4 gp-relative gp-flex gp-flex-col"
    >
      <div gp-el-wrapper  class="i2l05cfa9a8c4 ">
      
    
      
      
    <div
      uid="i2l05cfa9a8c4"
      data-id="i2l05cfa9a8c4"
       style="--mt:0px;--ml:0px;--mb:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--ta:left;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll">
     
     <ul
        class="gp-inline-flex gp-flex-col"
        style="--rg:20px"
        >
        
    <li
       data-index="0"
       data-id="row-i2l05cfa9a8c4-0"
      class="gp-flex gp-w-full gp-items-center gp-icon-list-item gp-child-item-i2l05cfa9a8c4"
      style="--cg:16px"
    >
    <div
      
      
      class="c-icon-row-i2l05cfa9a8c4-0 gp-relative gp-flex gp-flex-col"
    >
      
  <div
      
      style="--mt:0px;--ml:0px;--mb:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--ta:left"
      class="gp-leading-[0] icon-row-i2l05cfa9a8c4-0"
    >
      <div 
      data-id="icon-row-i2l05cfa9a8c4-0"
      class="icon-wrapper gp-inline-flex gp-overflow-hidden"
      style="--bs:none;--bc:#121212;--bg:rgba(51, 51, 51, 0)"
      >
      <div
      
    >
      <span
        style="--c:rgb(0, 0, 0);--t:rotate(0deg);--w:38px;--w-tablet:38px;--w-mobile:38px;--h:38px;--h-tablet:38px;--h-mobile:38px;--minw:38px;--minw-tablet:38px;--minw-mobile:38px;--height-desktop:38px;--height-tablet:38px;--height-mobile:38px"
        class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
      ><svg height="20" width="20" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817562045579624">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M176.49,95.51a12,12,0,0,1,0,17l-56,56a12,12,0,0,1-17,0l-24-24a12,12,0,1,1,17-17L112,143l47.51-47.52A12,12,0,0,1,176.49,95.51ZM236,128A108,108,0,1,1,128,20,108.12,108.12,0,0,1,236,128Zm-24,0a84,84,0,1,0-84,84A84.09,84.09,0,0,0,212,128Z" /></svg></span>
    </div>
      </div>
    </div>
    
    </div><div
      
      
      class="c-QPwMLuuxIfnI gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="QPwMLuuxIfnI">
    <div
      parentTag="Col"
        class="QPwMLuuxIfnI "
        style="--ta:left;--mt:0px;--ml:0px;--mb:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--ff:var(--g-font-sans-serif, 'sans-serif'), var(--g-font-heading, heading);--weight:400;--size:18px;--size-tablet:25px;--size-mobile:23px;--c:rgb(0, 0, 0);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gQPwMLuuxIfnI_text | replace: '$locationOrigin', locationOrigin }}</h2>
      </div>
    </div>
    </gp-text>
    
    </div>
  </li>
    <li
       data-index="1"
       data-id="gvlNpgbtRX"
      class="gp-flex gp-w-full gp-items-center gp-icon-list-item gp-child-item-i2l05cfa9a8c4"
      style="--cg:16px"
    >
    <div
      
      
      class="gW-bdEErP_ gp-relative gp-flex gp-flex-col"
    >
      
  <div
      
      style="--mt:0px;--ml:0px;--mb:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--ta:left"
      class="gp-leading-[0] g_4P-lhMFW"
    >
      <div 
      data-id="g_4P-lhMFW"
      class="icon-wrapper gp-inline-flex gp-overflow-hidden"
      style="--bs:none;--bc:#121212;--bg:rgba(51, 51, 51, 0)"
      >
      <div
      
    >
      <span
        style="--c:rgb(0, 0, 0);--t:rotate(0deg);--w:38px;--w-tablet:38px;--w-mobile:38px;--h:38px;--h-tablet:38px;--h-mobile:38px;--minw:38px;--minw-tablet:38px;--minw-mobile:38px;--height-desktop:38px;--height-tablet:38px;--height-mobile:38px"
        class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
      ><svg height="20" width="20" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817562045579624">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M176.49,95.51a12,12,0,0,1,0,17l-56,56a12,12,0,0,1-17,0l-24-24a12,12,0,1,1,17-17L112,143l47.51-47.52A12,12,0,0,1,176.49,95.51ZM236,128A108,108,0,1,1,128,20,108.12,108.12,0,0,1,236,128Zm-24,0a84,84,0,1,0-84,84A84.09,84.09,0,0,0,212,128Z" /></svg></span>
    </div>
      </div>
    </div>
    
    </div><div
      
      
      class="gADXEQdj4X gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="g1c2Izi2Ny">
    <div
      parentTag="Col"
        class="g1c2Izi2Ny "
        style="--ta:left;--mt:0px;--ml:0px;--mb:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--ff:var(--g-font-sans-serif, 'sans-serif'), var(--g-font-heading, heading);--weight:400;--size:18px;--size-tablet:25px;--size-mobile:23px;--c:rgb(0, 0, 0);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gg1c2Izi2Ny_text | replace: '$locationOrigin', locationOrigin }}</h2>
      </div>
    </div>
    </gp-text>
    
    </div>
  </li>
    <li
       data-index="2"
       data-id="gMhIGrZO7W"
      class="gp-flex gp-w-full gp-items-center gp-icon-list-item gp-child-item-i2l05cfa9a8c4"
      style="--cg:16px"
    >
    <div
      
      
      class="gmBTa01AMY gp-relative gp-flex gp-flex-col"
    >
      
  <div
      
      style="--mt:0px;--ml:0px;--mb:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--ta:left"
      class="gp-leading-[0] gHIHm8wIJ1"
    >
      <div 
      data-id="gHIHm8wIJ1"
      class="icon-wrapper gp-inline-flex gp-overflow-hidden"
      style="--bs:none;--bc:#121212;--bg:rgba(51, 51, 51, 0)"
      >
      <div
      
    >
      <span
        style="--c:rgb(0, 0, 0);--t:rotate(0deg);--w:38px;--w-tablet:38px;--w-mobile:38px;--h:38px;--h-tablet:38px;--h-mobile:38px;--minw:38px;--minw-tablet:38px;--minw-mobile:38px;--height-desktop:38px;--height-tablet:38px;--height-mobile:38px"
        class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
      ><svg height="20" width="20" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817562045579624">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M176.49,95.51a12,12,0,0,1,0,17l-56,56a12,12,0,0,1-17,0l-24-24a12,12,0,1,1,17-17L112,143l47.51-47.52A12,12,0,0,1,176.49,95.51ZM236,128A108,108,0,1,1,128,20,108.12,108.12,0,0,1,236,128Zm-24,0a84,84,0,1,0-84,84A84.09,84.09,0,0,0,212,128Z" /></svg></span>
    </div>
      </div>
    </div>
    
    </div><div
      
      
      class="gD43TSpVfS gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gEwypRsXid">
    <div
      parentTag="Col"
        class="gEwypRsXid "
        style="--ta:left;--mt:0px;--ml:0px;--mb:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--ff:var(--g-font-sans-serif, 'sans-serif'), var(--g-font-heading, heading);--weight:400;--size:18px;--size-tablet:25px;--size-mobile:23px;--c:rgb(0, 0, 0);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggEwypRsXid_text | replace: '$locationOrigin', locationOrigin }}</h2>
      </div>
    </div>
    </gp-text>
    
    </div>
  </li>
    <li
       data-index="3"
       data-id="gHaI0bkAbt"
      class="gp-flex gp-w-full gp-items-center gp-icon-list-item gp-child-item-i2l05cfa9a8c4"
      style="--cg:16px"
    >
    <div
      
      
      class="g3JyYEdkcW gp-relative gp-flex gp-flex-col"
    >
      
  <div
      
      style="--mt:0px;--ml:0px;--mb:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--ta:left"
      class="gp-leading-[0] geD4ww8REs"
    >
      <div 
      data-id="geD4ww8REs"
      class="icon-wrapper gp-inline-flex gp-overflow-hidden"
      style="--bs:none;--bc:#121212;--bg:rgba(51, 51, 51, 0)"
      >
      <div
      
    >
      <span
        style="--c:rgb(0, 0, 0);--t:rotate(0deg);--w:38px;--w-tablet:38px;--w-mobile:38px;--h:38px;--h-tablet:38px;--h-mobile:38px;--minw:38px;--minw-tablet:38px;--minw-mobile:38px;--height-desktop:38px;--height-tablet:38px;--height-mobile:38px"
        class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
      ><svg height="20" width="20" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817562045579624">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M176.49,95.51a12,12,0,0,1,0,17l-56,56a12,12,0,0,1-17,0l-24-24a12,12,0,1,1,17-17L112,143l47.51-47.52A12,12,0,0,1,176.49,95.51ZM236,128A108,108,0,1,1,128,20,108.12,108.12,0,0,1,236,128Zm-24,0a84,84,0,1,0-84,84A84.09,84.09,0,0,0,212,128Z" /></svg></span>
    </div>
      </div>
    </div>
    
    </div><div
      
      
      class="gthEdFqLL_ gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gXJHoISZvl">
    <div
      parentTag="Col"
        class="gXJHoISZvl "
        style="--ta:left;--mt:0px;--ml:0px;--mb:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--ff:var(--g-font-sans-serif, 'sans-serif'), var(--g-font-heading, heading);--weight:400;--size:18px;--size-tablet:25px;--size-mobile:23px;--c:rgb(0, 0, 0);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggXJHoISZvl_text | replace: '$locationOrigin', locationOrigin }}</h2>
      </div>
    </div>
    </gp-text>
    
    </div>
  </li>
      </ul>
  </div>
  
      </div>
    </div>
    </div>
   
    
    </div>
    </div>
   
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="c-IlyWuACqlsMf gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="IlyWuACqlsMf"
    role="presentation"
    class="gp-group/image IlyWuACqlsMf gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto"
    style="--mt:0px;--ml:0px;--mb:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--ta:center"
    >
      <div
        class="pointer-events-auto gp-h-full gp-flex"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--jc:center"
      >
        
  <img
      quality="70" title
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
      data-src="https://image2layout-detection-trainimagebucket-1t760016bxdvp.s3.amazonaws.com/image2layout/atom_imagetapfdzprgo.png" data-srcset="https://image2layout-detection-trainimagebucket-1t760016bxdvp.s3.amazonaws.com/image2layout/atom_imagetapfdzprgo.png" src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNTgxIiBoZWlnaHQ9IjY5NCIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctNTgxLTY5NCI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iNTgxIiBoZWlnaHQ9IjY5NCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNTgxIiBoZWlnaHQ9IjY5NCIgZmlsbD0idXJsKCNnLTU4MS02OTQpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii01ODEiIHRvPSI1ODEiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" width="581" height="694" alt="Alt image"
      quality-type={}
      quality-percent={}
      data-sizes="auto"
      sizes="100vw"
      style="--aspect:1/1;--aspect-tablet:1/1;--aspect-mobile:1/1;--objf:cover;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto"
    />
  
      </div>
  </div>
    </div>
    </div>
   
    
    </div>
    </div>
   
    
          {%- endform -%}
        </product-form>
      </gp-product>
      {%- assign product = gpBkProduct -%}
    {% else %}
      <div class="gp-text-center">{{ "gempages.Product.product_not_found" | t }}</div>
    {%- endif -%}
     <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-product.v2.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
    </div>
    </div>
   
    
    </div>
    </div>
  
            </section>
           
    


{% schema %}
  {
    
    "name": "Section 2",
    "tag": "section",
    "class": "gps-569355942743770092 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/zsqie8-wr/apps/gempages-cro/app/shopify/edit?pageType=GP_PRODUCT&editorId=569355722106602476&sectionId=569355942743770092)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"gaiPIZKUxNpwG_text","label":"gaiPIZKUxNpwG_text","default":"Soluția? Mai puțin înseamnă mai mult"},{"type":"html","id":"gBAMuyHvxcWBD_text","label":"gBAMuyHvxcWBD_text","default":"<p>Aquafiltr Pro minimizează contactul cu contaminanții fizici și impuritățile, ducând la un ten mai sănătos și mai radiant.</p>"},{"type":"html","id":"gQPwMLuuxIfnI_text","label":"gQPwMLuuxIfnI_text","default":"<strong>Plumbul și alte metale grele:</strong> Îți protejează pielea și sănătatea de substanțe invizibile și dăunătoare."},{"type":"html","id":"gg1c2Izi2Ny_text","label":"gg1c2Izi2Ny_text","default":"<strong>Microplasticele și alte impurități:</strong> Scapi de particulele mici, nedorite, care plutesc în apă."},{"type":"html","id":"ggEwypRsXid_text","label":"ggEwypRsXid_text","default":"<strong>Calcarul:</strong> Reduce depunerile de calcar pe piele și păr, rezultând o senzație mai moale și o pieptănare mai ușoară!"},{"type":"html","id":"ggXJHoISZvl_text","label":"ggXJHoISZvl_text","default":"<strong>Clorul și Cloramina:</strong> Spune la revedere apei cu miros de piscină, care-ți usucă pielea și părul!"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
