

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-571652763964932935.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-571652763964932935.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-571652763964932935.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-571652763964932935.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-571652763964932935.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-571652763964932935.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-571652763964932935.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-571652763964932935.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-571652763964932935.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-571652763964932935.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-571652763964932935.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-571652763964932935.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-571652763964932935.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-571652763964932935.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-571652763964932935.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-571652763964932935.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-571652763964932935.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-571652763964932935.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-571652763964932935.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-571652763964932935.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-571652763964932935.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-571652763964932935.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-571652763964932935.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-571652763964932935.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-571652763964932935.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-571652763964932935.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-571652763964932935.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-571652763964932935.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-571652763964932935.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-571652763964932935.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-571652763964932935.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-571652763964932935.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-571652763964932935.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-571652763964932935.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-571652763964932935.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-571652763964932935.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-571652763964932935.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-571652763964932935.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-571652763964932935.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-571652763964932935.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-571652763964932935.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-571652763964932935.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-571652763964932935.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-571652763964932935.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-571652763964932935.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-571652763964932935.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-571652763964932935.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-571652763964932935.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-571652763964932935.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-571652763964932935.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-571652763964932935.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-571652763964932935.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-571652763964932935.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-571652763964932935.gps.gpsil [style*="--o-mobile:"]{order:var(--o-mobile)}.gps-571652763964932935.gps.gpsil [style*="--pc-mobile:"]{place-content:var(--pc-mobile)}.gps-571652763964932935.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-571652763964932935.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-571652763964932935.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-571652763964932935.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-571652763964932935.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-571652763964932935.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-571652763964932935 .gp-g-paragraph-1{font-family:var(--g-p1-ff);font-size:var(--g-p1-size);font-style:var(--g-p1-fs);font-weight:var(--g-p1-weight);letter-spacing:var(--g-p1-ls);line-height:var(--g-p1-lh)}.gps-571652763964932935 .gp-relative{position:relative}.gps-571652763964932935 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-571652763964932935 .gp-mb-0{margin-bottom:0}.gps-571652763964932935 .gp-flex{display:flex}.gps-571652763964932935 .gp-grid{display:grid}.gps-571652763964932935 .gp-contents{display:contents}.gps-571652763964932935 .\!gp-hidden{display:none!important}.gps-571652763964932935 .gp-hidden{display:none}.gps-571652763964932935 .gp-h-auto{height:auto}.gps-571652763964932935 .gp-h-full{height:100%}.gps-571652763964932935 .gp-w-full{width:100%}.gps-571652763964932935 .gp-max-w-full{max-width:100%}.gps-571652763964932935 .gp-flex-none{flex:none}.gps-571652763964932935 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-571652763964932935 .gp-flex-col{flex-direction:column}.gps-571652763964932935 .gp-gap-y-0{row-gap:0}.gps-571652763964932935 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-571652763964932935 .gp-duration-200{transition-duration:.2s}.gps-571652763964932935 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-571652763964932935 .tablet\:\!gp-hidden{display:none!important}.gps-571652763964932935 .tablet\:gp-hidden{display:none}.gps-571652763964932935 .tablet\:gp-h-auto{height:auto}.gps-571652763964932935 .tablet\:gp-flex-none{flex:none}}@media (max-width:767px){.gps-571652763964932935 .mobile\:\!gp-hidden{display:none!important}.gps-571652763964932935 .mobile\:gp-hidden{display:none}.gps-571652763964932935 .mobile\:gp-h-auto{height:auto}.gps-571652763964932935 .mobile\:gp-flex-none{flex:none}}.gps-571652763964932935 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-571652763964932935 .\[\&_p\]\:gp-inline p{display:inline}.gps-571652763964932935 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-571652763964932935 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="gmv5oJeicb" data-id="gmv5oJeicb"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pt:var(--g-s-4xl);--pl:15px;--pb:var(--g-s-4xl);--pr:15px;--pt-mobile:20px;--pl-mobile:15px;--pb-mobile:0px;--pr-mobile:15px;--pt-tablet:var(--g-s-4xl);--pl-tablet:15px;--pb-tablet:var(--g-s-4xl);--pr-tablet:15px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#FFFFFF;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gmv5oJeicb gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gfvbX9kG3F gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="gLB6pk8kTV" data-id="gLB6pk8kTV"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--mb:0px;--cg:62px;--pc:start;--pc-mobile:start;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:90%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gLB6pk8kTV gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center;--o:1;--o-mobile:0"
      class="g2USEI0t_w gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gmjkqqGpr6">
    <div
      parentTag="Col"
        class="gmjkqqGpr6 "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-l)"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--fs:normal;--ff:var(--g-font-heading, heading);--weight:700;--ls:normal;--size:40px;--size-tablet:40px;--size-mobile:28px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggmjkqqGpr6_text | replace: '$locationOrigin', locationOrigin }}</h2>
      </div>
    </div>
    </gp-text>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gZH7x9wl6y">
    <div
      parentTag="Col"
        class="gZH7x9wl6y "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb-mobile:22px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#424242;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggZH7x9wl6y_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center;--o:0;--o-mobile:1"
      class="g9pqErlwKX gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="g_YfbhnohJ"
    role="presentation"
    class="gp-group/image g_YfbhnohJ gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto"
    style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb-mobile:var(--g-s-2xl);--ta:left"
    >
      <div
        class="pointer-events-auto gp-h-full gp-flex"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--jc:left"
      >
        
  <picture style="border-radius: inherit" class="gp-contents">
  
      <source media="(max-width: 767px)" srcset="{{ "gempages_569355663839331198-be76a1f5-41bb-40f1-bce2-3cc810481346.gif" | file_url }}" />
      <source media="(max-width: 1024px)" srcset="{{ "gempages_569355663839331198-be76a1f5-41bb-40f1-bce2-3cc810481346.gif" | file_url }}" />
      <img
        
        class="gp-h-full gp-max-w-full gp-flex"
        src="{{ "gempages_569355663839331198-be76a1f5-41bb-40f1-bce2-3cc810481346.gif" | file_url }}"
        alt=""
        fetchpriority="high"
        style="--aspect:auto;--objf:cover;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto"
      />
    
  </picture>
      </div>
  </div>
    </div>
    </div>
   
    
       
      
    <div
      parentTag="Col" id="gVn9e0isgC" data-id="gVn9e0isgC"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--cg:60px;--pc:start;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:90%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gVn9e0isgC gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center;--o:1;--o-mobile:1"
      class="g7V-1muzfD gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="gn_oyAvIHT"
    role="presentation"
    class="gp-group/image gn_oyAvIHT gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto"
    style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb-mobile:48px;--pt-mobile:30px;--ta:left"
    >
      <div
        class="pointer-events-auto gp-h-full gp-flex"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--jc:left"
      >
        
  <picture style="border-radius: inherit" class="gp-contents">
  
      <source media="(max-width: 767px)" srcset="{{ "gempages_569355663839331198-e4a9369a-b75a-4911-83e8-d8ba08cbb905.webp" | file_url }}" />
      <source media="(max-width: 1024px)" srcset="{{ "gempages_569355663839331198-e4a9369a-b75a-4911-83e8-d8ba08cbb905.webp" | file_url }}" />
      <img
        
        class="gp-h-full gp-max-w-full gp-flex"
        src="{{ "gempages_569355663839331198-e4a9369a-b75a-4911-83e8-d8ba08cbb905.webp" | file_url }}"
        alt=""
        fetchpriority="high"
        style="--aspect:auto;--objf:cover;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto"
      />
    
  </picture>
      </div>
  </div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center;--o:0;--o-mobile:0"
      class="gKx5g8R_fW gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="geYPtX_j-v">
    <div
      parentTag="Col"
        class="geYPtX_j-v "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb-mobile:15px"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--fs:normal;--ff:var(--g-font-heading, heading);--weight:700;--ls:normal;--size:40px;--size-tablet:40px;--size-mobile:28px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggeYPtX_j-v_text | replace: '$locationOrigin', locationOrigin }}</h2>
      </div>
    </div>
    </gp-text>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gXoePKD7Fr">
    <div
      parentTag="Col"
        class="gXoePKD7Fr "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb-mobile:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--size:16px;--size-tablet:16px;--size-mobile:16px;--c:#424242;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggXoePKD7Fr_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
    </div>
   
    
    </div>
    </div>
  
            </section>
           
    


{% schema %}
  {
    
    "name": "Section 5",
    "tag": "section",
    "class": "gps-571652763964932935 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/zsqie8-wr/apps/gempages-cro/app/shopify/edit?pageType=GP_PRODUCT&editorId=569355722106602476&sectionId=571652763964932935)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggmjkqqGpr6_text","label":"ggmjkqqGpr6_text","default":"Cum se montează ?"},{"type":"html","id":"ggZH7x9wl6y_text","label":"ggZH7x9wl6y_text","default":"<p>Aquafiltr se montează între capul de duș și perete, ceea ce îl face compatibil cu orice baie și orice tip de duș.</p>"},{"type":"html","id":"ggeYPtX_j-v_text","label":"ggeYPtX_j-v_text","default":"Am nevoie de instalator?"},{"type":"html","id":"ggXoePKD7Fr_text","label":"ggXoePKD7Fr_text","default":"<p><strong>Nu. </strong>Aquafiltr<strong> </strong>se instalează ușor, în doar câțiva pași simpli, fără unelte speciale.<br><strong>Pur și simplu îl înșurubezi și e gata.</strong></p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
