

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-569355942743770092.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-569355942743770092.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-569355942743770092.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-569355942743770092.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-569355942743770092.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-569355942743770092.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-569355942743770092.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-569355942743770092.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-569355942743770092.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-569355942743770092.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-569355942743770092.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-569355942743770092.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-569355942743770092.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-569355942743770092.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-569355942743770092.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-569355942743770092.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-569355942743770092.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-569355942743770092.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-569355942743770092.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-569355942743770092.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-569355942743770092.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-569355942743770092.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-569355942743770092.gps.gpsil [style*="--ml:"]{margin-left:var(--ml)}.gps-569355942743770092.gps.gpsil [style*="--mr:"]{margin-right:var(--mr)}.gps-569355942743770092.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-569355942743770092.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-569355942743770092.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-569355942743770092.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-569355942743770092.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-569355942743770092.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-569355942743770092.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-569355942743770092.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-569355942743770092.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-569355942743770092.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-569355942743770092.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-569355942743770092.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-569355942743770092.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-569355942743770092.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-569355942743770092.gps.gpsil [style*="--cg-tablet:"]{-moz-column-gap:var(--cg-tablet);column-gap:var(--cg-tablet)}.gps-569355942743770092.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-569355942743770092.gps.gpsil [style*="--gtc-tablet:"]{grid-template-columns:var(--gtc-tablet)}.gps-569355942743770092.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-569355942743770092.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-569355942743770092.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-569355942743770092.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-569355942743770092.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-569355942743770092.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-569355942743770092.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-569355942743770092.gps.gpsil [style*="--ml-mobile:"]{margin-left:var(--ml-mobile)}.gps-569355942743770092.gps.gpsil [style*="--mr-mobile:"]{margin-right:var(--mr-mobile)}.gps-569355942743770092.gps.gpsil [style*="--mt-mobile:"]{margin-top:var(--mt-mobile)}.gps-569355942743770092.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-569355942743770092.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-569355942743770092.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-569355942743770092.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-569355942743770092.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-569355942743770092.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-569355942743770092 .gp-g-paragraph-1{font-family:var(--g-p1-ff);font-size:var(--g-p1-size);font-style:var(--g-p1-fs);font-weight:var(--g-p1-weight);letter-spacing:var(--g-p1-ls);line-height:var(--g-p1-lh)}.gps-569355942743770092 .gp-relative{position:relative}.gps-569355942743770092 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-569355942743770092 .gp-mb-0{margin-bottom:0}.gps-569355942743770092 .gp-flex{display:flex}.gps-569355942743770092 .gp-grid{display:grid}.gps-569355942743770092 .\!gp-hidden{display:none!important}.gps-569355942743770092 .gp-hidden{display:none}.gps-569355942743770092 .gp-max-w-full{max-width:100%}.gps-569355942743770092 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-569355942743770092 .gp-flex-col{flex-direction:column}.gps-569355942743770092 .gp-gap-y-0{row-gap:0}.gps-569355942743770092 .gp-text-center{text-align:center}.gps-569355942743770092 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-569355942743770092 .gp-duration-200{transition-duration:.2s}.gps-569355942743770092 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-569355942743770092 .tablet\:\!gp-hidden{display:none!important}.gps-569355942743770092 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-569355942743770092 .mobile\:\!gp-hidden{display:none!important}.gps-569355942743770092 .mobile\:gp-hidden{display:none}}.gps-569355942743770092 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-569355942743770092 .\[\&_p\]\:gp-inline p{display:inline}.gps-569355942743770092 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-569355942743770092 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:calc(80% + 2 * var(--g-ct-p, 15px));--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--pl:var(--g-ct-p, 15px);--pl-tablet:var(--g-ct-p, 15px);--pl-mobile:var(--g-ct-p, 15px);--pr:var(--g-ct-p, 15px);--pr-tablet:var(--g-ct-p, 15px);--pr-mobile:var(--g-ct-p, 15px)"
            >
              
    <div
      id="i2l11d51e6a1b" data-id="i2l11d51e6a1b"
        style="--mt:0px;--ml:auto;--mb:0px;--mr:auto;--pt:30px;--pl:0px;--pb:30px;--pr:0px;--mt-mobile:0px;--ml-mobile:auto;--mb-mobile:0px;--mr-mobile:auto;--pt-mobile:30px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--cg:32px;--cg-tablet:32px;--pc:center;--gtc:minmax(0, 12fr);--gtc-tablet:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:80%;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:rgb(254, 254, 254);--bgi:url()"
        class="i2l11d51e6a1b gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="c-w-i2l11d51e6a1b gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="w-i2l11d51e6a1b" data-id="w-i2l11d51e6a1b"
        style="--mt:0px;--ml:auto;--mb:0px;--mr:auto;--pt:0px;--pl:12px;--pb:0px;--pr:12px;--mt-mobile:0px;--ml-mobile:auto;--mb-mobile:0px;--mr-mobile:auto;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--cg:32px;--cg-tablet:32px;--pc:center;--gtc:minmax(0, 12fr);--gtc-tablet:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="w-i2l11d51e6a1b gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="i2le923d18f95 gp-relative gp-flex gp-flex-col"
    >
      
    {%- assign gpBkProduct = product -%}
    
        {%- liquid
          if request.page_type == 'product'
            if 'static' == 'static'
              if 'latest' == 'latest'
                paginate collections.all.products by 100000
                  assign product = collections.all.products | sort: 'created_at' | reverse | first
                endpaginate
              else
                assign product = all_products['']
                assign productId = 'latest' | times: 1
                if product == empty or product == null
                  paginate collections.all.products by 100000
                    for item in collections.all.products
                      if item.id == productId
                        assign product = item
                      endif
                    endfor
                  endpaginate
                endif
              endif
            endif
          else
            if 'latest' == 'latest'
              paginate collections.all.products by 100000
                assign product = collections.all.products | sort: 'created_at'| reverse | first
              endpaginate
            else
              assign product = all_products['']
              assign productId = 'latest' | times: 1
              if product == empty or product == null
                paginate collections.all.products by 100000
                  for item in collections.all.products
                    if item.id == productId
                      assign product = item
                    endif
                  endfor
                endpaginate
              endif
            endif
          endif
        -%}
      

    {%-if product != empty and product != null -%}
      {%- assign initVariantId =  -%}
      {%- assign product_form_id = 'product-form-' | append: "i2lf69a8581ec" -%}
      {%- assign variant = product.selected_or_first_available_variant -%}
      {%- assign productSelectedVariant = product.selected_or_first_available_variant -%}
      {%-if productSelectedVariant == empty or productSelectedVariant == null -%}
        {%- assign productSelectedVariant = product.selected_or_first_available_variant -%}
      {%- endif -%}
      {%-if variant == empty or variant == null -%}
        {%- assign variant = product.selected_or_first_available_variant -%}
      {%- endif -%}
      <gp-product data-uid="i2lf69a8581ec" data-id="i2lf69a8581ec"   gp-context='{"productId": {{ product.id }}, "preSelectedOptionIds": [], "isSyncProduct": "true", "variantSelected": {{ variant | json | escape }}, "inventoryQuantity": {{ variant.inventory_quantity }}, "quantity": 1, "formId": "{{ product_form_id }}" }'
        gp-data='{"variantSelected": {{ variant | json | escape }}, "quantity": 1, "productUrl":{{ product.url | json | escape }}, "productHandle":{{ product.handle | json | escape }}, "collectionUrl": {{ collection.url | json | escape }}, "collectionHandle": {{ collection.handle | json | escape }}}'>
        <product-form class="product-form">
          {%- form 'product', product, id: product_form_id, class: 'form contents', data-type: 'add-to-cart-form', autocomplete: 'off'  -%}
            <input type="hidden" name="id" value="{{ variant.id }}" />
            <input type="hidden" name="quantity" value="{{ quantity }}" />
            <button type="submit" onclick="return false;" style="display:none;"></button>
            
       
      
    <div
      id="i2lf69a8581ec" data-id="i2lf69a8581ec-row"
        style="--mt:0px;--ml:auto;--mb:0px;--mr:auto;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--cg:32px;--cg-tablet:32px;--pc:center;--gtc:minmax(0, 12fr);--gtc-tablet:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%"
        class="i2lf69a8581ec gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="i2l1561fd3edd gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="i2lcc3cc95e3e" data-id="i2lcc3cc95e3e"
        style="--mt:0px;--ml:auto;--mb:0px;--mr:auto;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mt-mobile:0px;--ml-mobile:auto;--mb-mobile:0px;--mr-mobile:auto;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--cg:32px;--cg-tablet:32px;--pc:center;--gtc:minmax(0, auto);--gtc-mobile:minmax(0, auto);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:rgb(254, 254, 254);--bgi:url()"
        class="i2lcc3cc95e3e gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="c-sp-i2l4fca453c74 gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="sp-i2l4fca453c74" data-id="sp-i2l4fca453c74"
        style="--mt:0px;--ml:auto;--mb:0px;--mr:auto;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mt-mobile:0px;--ml-mobile:auto;--mb-mobile:0px;--mr-mobile:auto;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--cg:32px;--cg-tablet:32px;--pc:start;--gtc:minmax(0, 12fr);--gtc-tablet:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:rgb(254, 254, 254);--bgi:url()"
        class="sp-i2l4fca453c74 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="i2l4fca453c74 gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="aiPIZKUxNpwG">
    <div
      parentTag="Col"
        class="aiPIZKUxNpwG "
        style="--ta:left;--mt:0px;--ml:0px;--mb:20px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-heading, heading);--weight:400;--size:28px;--size-tablet:32px;--size-mobile:26px;--c:rgb(1, 1, 1);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gaiPIZKUxNpwG_text | replace: '$locationOrigin', locationOrigin }}</h2>
      </div>
    </div>
    </gp-text>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="BAMuyHvxcWBD">
    <div
      parentTag="Col"
        class="BAMuyHvxcWBD "
        style="--ta:left;--mt:0px;--ml:0px;--mb:44px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mt-mobile:0px;--ml-mobile:0px;--mb-mobile:24px;--mr-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-sans-serif, 'sans-serif'), var(--g-font-heading, heading);--weight:400;--size:20px;--size-tablet:18px;--size-mobile:16px;--c:rgb(126, 126, 126);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gBAMuyHvxcWBD_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
    </div>
   
    
       
      
    <div
      parentTag="Col" id="g-XPfYbFnP" data-id="g-XPfYbFnP"
        style="--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--cg:8px;--pc:start;--gtc:minmax(0, 3fr) minmax(0, 3fr) minmax(0, 3fr) minmax(0, 3fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--h:auto;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g-XPfYbFnP gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="g_fB6BcCgt gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gCk5w2rFj7">
    <div
      parentTag="Col"
        class="gCk5w2rFj7 "
        style="--ta:left;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--size:16px;--size-tablet:16px;--size-mobile:16px;--c:#151515;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggCk5w2rFj7_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
    </div><div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gBXvCYuvQB gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gaD-Pgv30A">
    <div
      parentTag="Col"
        class="gaD-Pgv30A "
        style="--ta:left;--mb-mobile:0px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--size:16px;--size-tablet:16px;--size-mobile:16px;--c:#151515;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggaD-Pgv30A_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
    </div><div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gWTmQ5_1DS gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="g5-S7KEpBs">
    <div
      parentTag="Col"
        class="g5-S7KEpBs "
        style="--ta:left;--mb-mobile:0px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--size:16px;--size-tablet:16px;--size-mobile:16px;--c:#151515;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gg5-S7KEpBs_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
    </div><div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gqdGHxMOje gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gF-ZTISVph">
    <div
      parentTag="Col"
        class="gF-ZTISVph "
        style="--ta:left;--mb-mobile:0px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--size:16px;--size-tablet:16px;--size-mobile:16px;--c:#151515;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggF-ZTISVph_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
    </div>
   
    
    </div>
    </div>
   
    
    </div>
    </div>
   
    
          {%- endform -%}
        </product-form>
      </gp-product>
      {%- assign product = gpBkProduct -%}
    {% else %}
      <div class="gp-text-center">{{ "gempages.Product.product_not_found" | t }}</div>
    {%- endif -%}
     <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-product.v2.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
    </div>
    </div>
   
    
    </div>
    </div>
  
            </section>
           
    
<style {% if section.settings.section_preload == "false" %} class="gps-link" type="text/disabled-css" {% endif %}>@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v23/pxiEyp8kv8JHgFVrJJfedA.woff) format('woff');
}
/* devanagari */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v23/pxiEyp8kv8JHgFVrJJbecnFHGPezSQ.woff2) format('woff2');
  unicode-range: U+0900-097F, U+1CD0-1CF9, U+200C-200D, U+20A8, U+20B9, U+20F0, U+25CC, U+A830-A839, U+A8E0-A8FF, U+11B00-11B09;
}
/* latin-ext */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v23/pxiEyp8kv8JHgFVrJJnecnFHGPezSQ.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v23/pxiEyp8kv8JHgFVrJJfecnFHGPc.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
</style>

{% schema %}
  {
    
    "name": "Section 2",
    "tag": "section",
    "class": "gps-569355942743770092 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/zsqie8-wr/apps/gempages-cro/app/shopify/edit?pageType=GP_PRODUCT&editorId=569355722106602476&sectionId=569355942743770092)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"gaiPIZKUxNpwG_text","label":"gaiPIZKUxNpwG_text","default":"Toate aceste rezultate,<br>doar din apă curată."},{"type":"html","id":"gBAMuyHvxcWBD_text","label":"gBAMuyHvxcWBD_text","default":"<p>Când elimini toate substanțele nocive, corpul tău înflorește.</p>"},{"type":"html","id":"ggCk5w2rFj7_text","label":"ggCk5w2rFj7_text","default":"<p><span style=\"color:#606060;\">01</span> – Fără păr fragil</p>"},{"type":"html","id":"ggaD-Pgv30A_text","label":"ggaD-Pgv30A_text","default":"<p><span style=\"color:#606060;\">02</span> – Piele sănătoasă și hidratată</p>"},{"type":"html","id":"gg5-S7KEpBs_text","label":"gg5-S7KEpBs_text","default":"<p><span style=\"color:#606060;\">03</span><span style=\"color:#A0A0A0;\"> </span>– Păr mai des și mai strălucitor</p>"},{"type":"html","id":"ggF-ZTISVph_text","label":"ggF-ZTISVph_text","default":"<p><span style=\"color:#606060;\">04 </span>– Mai puține coșuri și imperfecțiuni</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
