

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-569355959386768405.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-569355959386768405.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-569355959386768405.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-569355959386768405.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-569355959386768405.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-569355959386768405.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-569355959386768405.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-569355959386768405.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-569355959386768405.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-569355959386768405.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-569355959386768405.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-569355959386768405.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-569355959386768405.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-569355959386768405.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-569355959386768405.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-569355959386768405.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-569355959386768405.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-569355959386768405.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-569355959386768405.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-569355959386768405.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-569355959386768405.gps.gpsil [style*="--ml:"]{margin-left:var(--ml)}.gps-569355959386768405.gps.gpsil [style*="--mr:"]{margin-right:var(--mr)}.gps-569355959386768405.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-569355959386768405.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-569355959386768405.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-569355959386768405.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-569355959386768405.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-569355959386768405.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-569355959386768405.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-569355959386768405.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-569355959386768405.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-569355959386768405.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-569355959386768405.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-569355959386768405.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-569355959386768405.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-569355959386768405.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-569355959386768405.gps.gpsil [style*="--cg-tablet:"]{-moz-column-gap:var(--cg-tablet);column-gap:var(--cg-tablet)}.gps-569355959386768405.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-569355959386768405.gps.gpsil [style*="--gtc-tablet:"]{grid-template-columns:var(--gtc-tablet)}.gps-569355959386768405.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-569355959386768405.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-569355959386768405.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-569355959386768405.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-569355959386768405.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-569355959386768405.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-569355959386768405.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-569355959386768405.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-569355959386768405.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-569355959386768405.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-569355959386768405.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-569355959386768405.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-569355959386768405.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-569355959386768405 .gp-relative{position:relative}.gps-569355959386768405 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-569355959386768405 .gp-mb-0{margin-bottom:0}.gps-569355959386768405 .\!gp-inline{display:inline!important}.gps-569355959386768405 .gp-flex{display:flex}.gps-569355959386768405 .gp-grid{display:grid}.gps-569355959386768405 .\!gp-hidden{display:none!important}.gps-569355959386768405 .gp-hidden{display:none}.gps-569355959386768405 .gp-h-auto{height:auto}.gps-569355959386768405 .gp-h-full{height:100%}.gps-569355959386768405 .gp-w-full{width:100%}.gps-569355959386768405 .gp-max-w-full{max-width:100%}.gps-569355959386768405 .gp-flex-none{flex:none}.gps-569355959386768405 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-569355959386768405 .gp-flex-col{flex-direction:column}.gps-569355959386768405 .gp-gap-y-0{row-gap:0}.gps-569355959386768405 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-569355959386768405 .gp-duration-200{transition-duration:.2s}.gps-569355959386768405 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-569355959386768405 .tablet\:\!gp-hidden{display:none!important}.gps-569355959386768405 .tablet\:gp-hidden{display:none}.gps-569355959386768405 .tablet\:gp-h-auto{height:auto}.gps-569355959386768405 .tablet\:gp-flex-none{flex:none}}@media (max-width:767px){.gps-569355959386768405 .mobile\:\!gp-hidden{display:none!important}.gps-569355959386768405 .mobile\:gp-hidden{display:none}.gps-569355959386768405 .mobile\:gp-h-auto{height:auto}.gps-569355959386768405 .mobile\:gp-flex-none{flex:none}}.gps-569355959386768405 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-569355959386768405 .\[\&_p\]\:gp-inline p{display:inline}.gps-569355959386768405 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-569355959386768405 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--pl:0px;--pl-tablet:var(--g-ct-p, 15px);--pl-mobile:var(--g-ct-p, 15px);--pr:0px;--pr-tablet:var(--g-ct-p, 15px);--pr-mobile:var(--g-ct-p, 15px)"
            >
              
    <div
      id="i2l014fe9c4cb" data-id="i2l014fe9c4cb"
        style="--mt:0px;--ml:auto;--mb:0px;--mr:auto;--pt:30px;--pl:0px;--pb:30px;--pr:0px;--cg:32px;--cg-tablet:32px;--pc:start;--gtc:minmax(0, 12fr);--gtc-tablet:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:rgb(252, 252, 253);--bgi:url()"
        class="i2l014fe9c4cb gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="c-w-i2l014fe9c4cb gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="w-i2l014fe9c4cb" data-id="w-i2l014fe9c4cb"
        style="--mt:0px;--ml:auto;--mb:0px;--mr:auto;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--cg:32px;--cg-tablet:32px;--pc:start;--gtc:minmax(0, 12fr);--gtc-tablet:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="w-i2l014fe9c4cb gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="i2l660f189263 gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="sp-i2l08640c55f7" data-id="sp-i2l08640c55f7"
        style="--mt:0px;--ml:auto;--mb:20px;--mr:auto;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--cg:32px;--cg-tablet:32px;--pc:center;--gtc:minmax(0, auto);--gtc-tablet:minmax(0, auto);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="sp-i2l08640c55f7 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="i2l08640c55f7 gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="LPoTOISnFZOo">
    <div
      parentTag="Col"
        class="LPoTOISnFZOo "
        style="--ta:center;--mt:0px;--ml:0px;--mb:20px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px"
      >
      <div class="gp-flex" style="--jc:center">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--ff:var(--g-font-sans-serif, 'sans-serif'), var(--g-font-heading, heading);--weight:400;--size:34px;--size-tablet:32px;--size-mobile:29px;--c:rgb(1, 1, 1);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gLPoTOISnFZOo_text | replace: '$locationOrigin', locationOrigin }}</h2>
      </div>
    </div>
    </gp-text>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="pexADcWdQNaL">
    <div
      parentTag="Col"
        class="pexADcWdQNaL "
        style="--ta:center;--mt:0px;--ml:0px;--mb:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-sans-serif, 'sans-serif'), var(--g-font-heading, heading);--weight:400;--size:19px;--size-tablet:18px;--size-mobile:16px;--c:rgb(126, 126, 126);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gpexADcWdQNaL_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
    </div>
   
    
       
      
    <div
      parentTag="Col" id="i2lb94b2f81b0" data-id="i2lb94b2f81b0"
        style="--mt:0px;--ml:auto;--mb:0px;--mr:auto;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--cg:32px;--cg-tablet:32px;--pc:start;--gtc:minmax(0, 3fr) minmax(0, 3fr) minmax(0, 3fr) minmax(0, 3fr);--gtc-tablet:minmax(0, 3fr) minmax(0, 3fr) minmax(0, 3fr) minmax(0, 3fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="i2lb94b2f81b0 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="c-sp-i2lc8fdcdbfde gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="sp-i2lc8fdcdbfde" data-id="sp-i2lc8fdcdbfde"
        style="--mt:0px;--ml:auto;--mb:0px;--mr:auto;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--cg:32px;--cg-tablet:32px;--pc:start;--gtc:minmax(0, 12fr);--gtc-tablet:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="sp-i2lc8fdcdbfde gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="i2lc8fdcdbfde gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="pEewaBTXpwjG"
    role="presentation"
    class="gp-group/image pEewaBTXpwjG gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto"
    style="--mt:0px;--ml:0px;--mb:20px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--ta:left"
    >
      <div
        class="pointer-events-auto gp-h-full gp-flex"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--jc:left"
      >
        
  <img
      quality="70" title
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex"
      data-src="https://image2layout-detection-trainimagebucket-1t760016bxdvp.s3.amazonaws.com/image2layout/atom_imageerbngkwzst.png" data-srcset="https://image2layout-detection-trainimagebucket-1t760016bxdvp.s3.amazonaws.com/image2layout/atom_imageerbngkwzst.png" src="https://image2layout-detection-trainimagebucket-1t760016bxdvp.s3.amazonaws.com/image2layout/atom_imageerbngkwzst.png" width="377" height="379" alt="Alt image"
      quality-type={}
      quality-percent={}
      data-sizes="auto"
      sizes="100vw"
      style="--aspect:1/1;--aspect-tablet:1/1;--aspect-mobile:1/1;--objf:cover;--w:377px;--w-tablet:377px;--w-mobile:377px;--h:auto;--h-tablet:auto;--h-mobile:auto"
    />
  
      </div>
  </div>
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="pyBPXFKtCRpR">
    <div
      parentTag="Col"
        class="pyBPXFKtCRpR "
        style="--ta:left;--mt:0px;--ml:0px;--mb:20px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-sans-serif, 'sans-serif'), var(--g-font-heading, heading);--weight:400;--size:19px;--size-tablet:18px;--size-mobile:16px;--c:rgb(0, 0, 0);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gpyBPXFKtCRpR_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="aYiuYiiOtpoF">
    <div
      parentTag="Col"
        class="aYiuYiiOtpoF "
        style="--ta:left;--mt:0px;--ml:0px;--mb:8px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-sans-serif, 'sans-serif'), var(--g-font-body, body);--weight:400;--size:13px;--size-tablet:14px;--size-mobile:12px;--c:rgb(0, 0, 0);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gaYiuYiiOtpoF_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="TwKiFkdpbkDA">
    <div
      parentTag="Col"
        class="TwKiFkdpbkDA "
        style="--ta:left;--mt:0px;--ml:0px;--mb:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-sans-serif, 'sans-serif'), var(--g-font-body, body);--weight:400;--size:13px;--size-tablet:14px;--size-mobile:12px;--c:rgb(127, 127, 127);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gTwKiFkdpbkDA_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
    </div>
   
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="c-sp-i2l8e0461ed82 gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="sp-i2l8e0461ed82" data-id="sp-i2l8e0461ed82"
        style="--mt:0px;--ml:auto;--mb:0px;--mr:auto;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--cg:32px;--cg-tablet:32px;--pc:start;--gtc:minmax(0, 12fr);--gtc-tablet:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="sp-i2l8e0461ed82 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="i2l8e0461ed82 gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="FBfTrCHEyXwl"
    role="presentation"
    class="gp-group/image FBfTrCHEyXwl gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto"
    style="--mt:0px;--ml:0px;--mb:20px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--ta:left"
    >
      <div
        class="pointer-events-auto gp-h-full gp-flex"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--jc:left"
      >
        
  <img
      quality="70" title
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex"
      data-src="https://image2layout-detection-trainimagebucket-1t760016bxdvp.s3.amazonaws.com/image2layout/atom_imageebdrgzygsp.png" data-srcset="https://image2layout-detection-trainimagebucket-1t760016bxdvp.s3.amazonaws.com/image2layout/atom_imageebdrgzygsp.png" src="https://image2layout-detection-trainimagebucket-1t760016bxdvp.s3.amazonaws.com/image2layout/atom_imageebdrgzygsp.png" width="377" height="379" alt="Alt image"
      quality-type={}
      quality-percent={}
      data-sizes="auto"
      sizes="100vw"
      style="--aspect:1/1;--aspect-tablet:1/1;--aspect-mobile:1/1;--objf:cover;--w:377px;--w-tablet:377px;--w-mobile:377px;--h:auto;--h-tablet:auto;--h-mobile:auto"
    />
  
      </div>
  </div>
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="PJNgVpZlxFHj">
    <div
      parentTag="Col"
        class="PJNgVpZlxFHj "
        style="--ta:left;--mt:0px;--ml:0px;--mb:20px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-sans-serif, 'sans-serif'), var(--g-font-heading, heading);--weight:400;--size:19px;--size-tablet:18px;--size-mobile:16px;--c:rgb(3, 3, 3);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gPJNgVpZlxFHj_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="LstXWdBZuxYH">
    <div
      parentTag="Col"
        class="LstXWdBZuxYH "
        style="--ta:left;--mt:0px;--ml:0px;--mb:8px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-sans-serif, 'sans-serif'), var(--g-font-body, body);--weight:400;--size:13px;--size-tablet:14px;--size-mobile:12px;--c:rgb(8, 8, 8);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gLstXWdBZuxYH_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="pnGZGYchGSEU">
    <div
      parentTag="Col"
        class="pnGZGYchGSEU "
        style="--ta:left;--mt:0px;--ml:0px;--mb:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-sans-serif, 'sans-serif'), var(--g-font-body, body);--weight:400;--size:13px;--size-tablet:14px;--size-mobile:12px;--c:rgb(127, 127, 127);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gpnGZGYchGSEU_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
    </div>
   
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="c-sp-i2lb57b59783f gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="sp-i2lb57b59783f" data-id="sp-i2lb57b59783f"
        style="--mt:0px;--ml:auto;--mb:0px;--mr:auto;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--cg:32px;--cg-tablet:32px;--pc:start;--gtc:minmax(0, 12fr);--gtc-tablet:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="sp-i2lb57b59783f gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="i2lb57b59783f gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="rewrap_row_MKeFxAmcBiPG"
    role="presentation"
    class="gp-group/image rewrap_row_MKeFxAmcBiPG gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto"
    style="--mt:0px;--ml:0px;--mb:20px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--ta:left"
    >
      <div
        class="pointer-events-auto gp-h-full gp-flex"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--jc:left"
      >
        
  <img
      quality="70" title
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex"
      data-src="https://image2layout-detection-trainimagebucket-1t760016bxdvp.s3.amazonaws.com/image2layout/atom_imageusipxmhssy.png" data-srcset="https://image2layout-detection-trainimagebucket-1t760016bxdvp.s3.amazonaws.com/image2layout/atom_imageusipxmhssy.png" src="https://image2layout-detection-trainimagebucket-1t760016bxdvp.s3.amazonaws.com/image2layout/atom_imageusipxmhssy.png" width="377" height="378" alt="Alt image"
      quality-type={}
      quality-percent={}
      data-sizes="auto"
      sizes="100vw"
      style="--aspect:1/1;--aspect-tablet:1/1;--aspect-mobile:1/1;--objf:cover;--h:auto;--h-tablet:auto;--h-mobile:auto"
    />
  
      </div>
  </div>
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="ddamuvHWbaKM">
    <div
      parentTag="Col"
        class="ddamuvHWbaKM "
        style="--ta:left;--mt:0px;--ml:0px;--mb:20px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-sans-serif, 'sans-serif'), var(--g-font-heading, heading);--weight:400;--size:19px;--size-tablet:18px;--size-mobile:16px;--c:rgb(3, 3, 3);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gddamuvHWbaKM_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="KADxDirwdEOR">
    <div
      parentTag="Col"
        class="KADxDirwdEOR "
        style="--ta:left;--mt:0px;--ml:0px;--mb:8px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-sans-serif, 'sans-serif'), var(--g-font-body, body);--weight:400;--size:13px;--size-tablet:14px;--size-mobile:12px;--c:rgb(10, 10, 10);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gKADxDirwdEOR_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="nfzTuodZmqDM">
    <div
      parentTag="Col"
        class="nfzTuodZmqDM "
        style="--ta:left;--mt:0px;--ml:0px;--mb:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-sans-serif, 'sans-serif'), var(--g-font-body, body);--weight:400;--size:13px;--size-tablet:14px;--size-mobile:12px;--c:rgb(127, 127, 127);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gnfzTuodZmqDM_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
    </div>
   
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="c-sp-i2l2686097bfe gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="sp-i2l2686097bfe" data-id="sp-i2l2686097bfe"
        style="--mt:0px;--ml:auto;--mb:0px;--mr:auto;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--cg:32px;--cg-tablet:32px;--pc:start;--gtc:minmax(0, 12fr);--gtc-tablet:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="sp-i2l2686097bfe gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="i2l2686097bfe gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="BfvxvonMVSEi"
    role="presentation"
    class="gp-group/image BfvxvonMVSEi gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto"
    style="--mt:0px;--ml:0px;--mb:20px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--ta:left"
    >
      <div
        class="pointer-events-auto gp-h-full gp-flex"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--jc:left"
      >
        
  <img
      quality="70" title
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex"
      data-src="https://image2layout-detection-trainimagebucket-1t760016bxdvp.s3.amazonaws.com/image2layout/atom_imagetnetjgsvjx.png" data-srcset="https://image2layout-detection-trainimagebucket-1t760016bxdvp.s3.amazonaws.com/image2layout/atom_imagetnetjgsvjx.png" src="https://image2layout-detection-trainimagebucket-1t760016bxdvp.s3.amazonaws.com/image2layout/atom_imagetnetjgsvjx.png" width="125" height="378" alt="Alt image"
      quality-type={}
      quality-percent={}
      data-sizes="auto"
      sizes="100vw"
      style="--aspect:125/378;--aspect-tablet:125/378;--aspect-mobile:125/378;--objf:cover;--h:auto;--h-tablet:auto;--h-mobile:auto"
    />
  
      </div>
  </div>
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="sallqbbIARIF">
    <div
      parentTag="Col"
        class="sallqbbIARIF "
        style="--ta:left;--mt:0px;--ml:0px;--mb:20px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-sans-serif, 'sans-serif'), var(--g-font-heading, heading);--weight:400;--size:19px;--size-tablet:18px;--size-mobile:16px;--c:rgb(1, 1, 1);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gsallqbbIARIF_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="PaGQkwYbekZQ">
    <div
      parentTag="Col"
        class="PaGQkwYbekZQ "
        style="--ta:left;--mt:0px;--ml:0px;--mb:8px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-sans-serif, 'sans-serif'), var(--g-font-body, body);--weight:400;--size:13px;--size-tablet:14px;--size-mobile:12px;--c:rgb(0, 0, 0);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gPaGQkwYbekZQ_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="joUolZMejrSa">
    <div
      parentTag="Col"
        class="joUolZMejrSa "
        style="--ta:left;--mt:0px;--ml:0px;--mb:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-sans-serif, 'sans-serif'), var(--g-font-body, body);--weight:400;--size:13px;--size-tablet:14px;--size-mobile:12px;--c:rgb(127, 127, 127);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gjoUolZMejrSa_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
    </div>
   
    
    </div>
    </div>
   
    
    </div>
    </div>
   
    
    </div>
    </div>
  
            </section>
           
    


{% schema %}
  {
    
    "name": "Section 5",
    "tag": "section",
    "class": "gps-569355959386768405 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/zsqie8-wr/apps/gempages-cro/app/shopify/edit?pageType=GP_PRODUCT&editorId=569355722106602476&sectionId=569355959386768405)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"gLPoTOISnFZOo_text","label":"gLPoTOISnFZOo_text","default":"Made with doctors, trusted by professionals"},{"type":"html","id":"gpexADcWdQNaL_text","label":"gpexADcWdQNaL_text","default":"We formulated our products with MDs, PhDs, and healthcare professionals."},{"type":"html","id":"gpyBPXFKtCRpR_text","label":"gpyBPXFKtCRpR_text","default":"\"I Only Use Filterbaby Water For My Skin. I've Been Using It For Two Months And I've Noticed My Skin Is Much Less Irritated And Sensitive Than It Was Before.\""},{"type":"html","id":"gaYiuYiiOtpoF_text","label":"gaYiuYiiOtpoF_text","default":"Dr. Tiffany Moon"},{"type":"html","id":"gTwKiFkdpbkDA_text","label":"gTwKiFkdpbkDA_text","default":"MD"},{"type":"html","id":"gPJNgVpZlxFHj_text","label":"gPJNgVpZlxFHj_text","default":"\"Tap Water Really Affects People's Skin. 100 Years From Now People Might Think We Are Crazy For Washing Their Face With Tap Water. Give Filterbaby A Try.'"},{"type":"html","id":"gLstXWdBZuxYH_text","label":"gLstXWdBZuxYH_text","default":"Dr. Robert Dorfman"},{"type":"html","id":"gpnGZGYchGSEU_text","label":"gpnGZGYchGSEU_text","default":"MD"},{"type":"html","id":"gddamuvHWbaKM_text","label":"gddamuvHWbaKM_text","default":"\"Filterbaby Helps To Improve Dry, Eczematic, Acne-Prone And Rosacea Skins. The Quality Of Your Water Matters.\""},{"type":"html","id":"gKADxDirwdEOR_text","label":"gKADxDirwdEOR_text","default":"Dr. Safiya Lynn"},{"type":"html","id":"gnfzTuodZmqDM_text","label":"gnfzTuodZmqDM_text","default":"MD"},{"type":"html","id":"gsallqbbIARIF_text","label":"gsallqbbIARIF_text","default":"\"By Integratin Routine, I Noti Breakouts, Le Skin Just Lool And Healthy.\""},{"type":"html","id":"gPaGQkwYbekZQ_text","label":"gPaGQkwYbekZQ_text","default":"Mona Seresht"},{"type":"html","id":"gjoUolZMejrSa_text","label":"gjoUolZMejrSa_text","default":"PA-C, MSPAS"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
