

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-571645619102287072.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-571645619102287072.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-571645619102287072.gps.gpsil [style*="--hvr-bg:"]:hover{background:var(--hvr-bg)}.gps-571645619102287072.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-571645619102287072.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-571645619102287072.gps.gpsil [style*="--hvr-bgc:"]:hover{background-color:var(--hvr-bgc)}.gps-571645619102287072.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-571645619102287072.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-571645619102287072.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-571645619102287072.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-571645619102287072.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-571645619102287072.gps.gpsil [style*="--hvr-b:"]:hover{border:var(--hvr-b)}.gps-571645619102287072.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-571645619102287072.gps.gpsil [style*="--hvr-bc:"]:hover{border-color:var(--hvr-bc)}.gps-571645619102287072.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-571645619102287072.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-571645619102287072.gps.gpsil [style*="--hvr-bs:"]:hover{border-style:var(--hvr-bs)}.gps-571645619102287072.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-571645619102287072.gps.gpsil [style*="--hvr-bw:"]:hover{border-width:var(--hvr-bw)}.gps-571645619102287072.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-571645619102287072.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-571645619102287072.gps.gpsil [style*="--hvr-c:"]:hover{color:var(--hvr-c)}.gps-571645619102287072.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-571645619102287072.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-571645619102287072.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-571645619102287072.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-571645619102287072.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-571645619102287072.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-571645619102287072.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-571645619102287072.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-571645619102287072.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-571645619102287072.gps.gpsil [style*="--ml:"]{margin-left:var(--ml)}.gps-571645619102287072.gps.gpsil [style*="--mr:"]{margin-right:var(--mr)}.gps-571645619102287072.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-571645619102287072.gps.gpsil [style*="--maxw:"]{max-width:var(--maxw)}.gps-571645619102287072.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-571645619102287072.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-571645619102287072.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-571645619102287072.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-571645619102287072.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-571645619102287072.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-571645619102287072.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-571645619102287072.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-571645619102287072.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-571645619102287072.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-571645619102287072.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-571645619102287072.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-571645619102287072.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-571645619102287072.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-571645619102287072.gps.gpsil [style*="--cg-tablet:"]{-moz-column-gap:var(--cg-tablet);column-gap:var(--cg-tablet)}.gps-571645619102287072.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-571645619102287072.gps.gpsil [style*="--gtc-tablet:"]{grid-template-columns:var(--gtc-tablet)}.gps-571645619102287072.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-571645619102287072.gps.gpsil [style*="--maxw-tablet:"]{max-width:var(--maxw-tablet)}.gps-571645619102287072.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-571645619102287072.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-571645619102287072.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-571645619102287072.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-571645619102287072.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-571645619102287072.gps.gpsil [style*="--bga-mobile:"]{background-attachment:var(--bga-mobile)}.gps-571645619102287072.gps.gpsil [style*="--bgc-mobile:"]{background-color:var(--bgc-mobile)}.gps-571645619102287072.gps.gpsil [style*="--bgi-mobile:"]{background-image:var(--bgi-mobile)}.gps-571645619102287072.gps.gpsil [style*="--bgp-mobile:"]{background-position:var(--bgp-mobile)}.gps-571645619102287072.gps.gpsil [style*="--bgr-mobile:"]{background-repeat:var(--bgr-mobile)}.gps-571645619102287072.gps.gpsil [style*="--bgs-mobile:"]{background-size:var(--bgs-mobile)}.gps-571645619102287072.gps.gpsil [style*="--cg-mobile:"]{-moz-column-gap:var(--cg-mobile);column-gap:var(--cg-mobile)}.gps-571645619102287072.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-571645619102287072.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-571645619102287072.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-571645619102287072.gps.gpsil [style*="--jc-mobile:"]{justify-content:var(--jc-mobile)}.gps-571645619102287072.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-571645619102287072.gps.gpsil [style*="--ml-mobile:"]{margin-left:var(--ml-mobile)}.gps-571645619102287072.gps.gpsil [style*="--mr-mobile:"]{margin-right:var(--mr-mobile)}.gps-571645619102287072.gps.gpsil [style*="--mt-mobile:"]{margin-top:var(--mt-mobile)}.gps-571645619102287072.gps.gpsil [style*="--maxw-mobile:"]{max-width:var(--maxw-mobile)}.gps-571645619102287072.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-571645619102287072.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-571645619102287072.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-571645619102287072.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-571645619102287072.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-571645619102287072.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-571645619102287072.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-571645619102287072 .gp-g-paragraph-1{font-family:var(--g-p1-ff);font-size:var(--g-p1-size);font-style:var(--g-p1-fs);font-weight:var(--g-p1-weight);letter-spacing:var(--g-p1-ls);line-height:var(--g-p1-lh)}.gps-571645619102287072 .gp-relative{position:relative}.gps-571645619102287072 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-571645619102287072 .gp-mb-0{margin-bottom:0}.gps-571645619102287072 .\!gp-inline{display:inline!important}.gps-571645619102287072 .gp-flex{display:flex}.gps-571645619102287072 .gp-grid{display:grid}.gps-571645619102287072 .\!gp-hidden{display:none!important}.gps-571645619102287072 .gp-hidden{display:none}.gps-571645619102287072 .gp-h-auto{height:auto}.gps-571645619102287072 .gp-h-full{height:100%}.gps-571645619102287072 .gp-w-full{width:100%}.gps-571645619102287072 .gp-min-w-0{min-width:0}.gps-571645619102287072 .gp-max-w-full{max-width:100%}.gps-571645619102287072 .gp-flex-1{flex:1 1 0%}.gps-571645619102287072 .gp-flex-none{flex:none}.gps-571645619102287072 .gp-cursor-pointer{cursor:pointer}.gps-571645619102287072 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-571645619102287072 .gp-flex-row{flex-direction:row}.gps-571645619102287072 .gp-flex-col{flex-direction:column}.gps-571645619102287072 .gp-flex-wrap{flex-wrap:wrap}.gps-571645619102287072 .gp-gap-y-0{row-gap:0}.gps-571645619102287072 .gp-overflow-hidden{overflow:hidden}.gps-571645619102287072 .gp-whitespace-nowrap{white-space:nowrap}.gps-571645619102287072 .gp-p-4{padding:16px}.gps-571645619102287072 .gp-px-4{padding-left:16px;padding-right:16px}.gps-571645619102287072 .gp-py-2{padding-bottom:8px;padding-top:8px}.gps-571645619102287072 .gp-pb-0{padding-bottom:0}.gps-571645619102287072 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-571645619102287072 .gp-duration-200{transition-duration:.2s}.gps-571645619102287072 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-571645619102287072 .tablet\:\!gp-hidden{display:none!important}.gps-571645619102287072 .tablet\:gp-hidden{display:none}.gps-571645619102287072 .tablet\:gp-h-auto{height:auto}.gps-571645619102287072 .tablet\:gp-flex-none{flex:none}.gps-571645619102287072 .tablet\:gp-flex-row{flex-direction:row}.gps-571645619102287072 .tablet\:gp-flex-col{flex-direction:column}}@media (max-width:767px){.gps-571645619102287072 .mobile\:\!gp-hidden{display:none!important}.gps-571645619102287072 .mobile\:gp-hidden{display:none}.gps-571645619102287072 .mobile\:gp-h-auto{height:auto}.gps-571645619102287072 .mobile\:gp-flex-none{flex:none}.gps-571645619102287072 .mobile\:gp-flex-row{flex-direction:row}.gps-571645619102287072 .mobile\:gp-flex-col{flex-direction:column}}.gps-571645619102287072 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-571645619102287072 .\[\&_p\]\:gp-inline p{display:inline}.gps-571645619102287072 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-571645619102287072 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="gEtN995Xwu" data-id="gEtN995Xwu"
        style="--blockPadding:base;--pt:var(--g-s-2xl);--pb:var(--g-s-2xl);--mb-mobile:32px;--pt-mobile:12px;--pl-mobile:8px;--pb-mobile:0px;--pr-mobile:8px;--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:rgb(0, 0, 0);--bgc-mobile:#151515;--bgi:url();--bgi-mobile:url();--bgp:50% 50%;--bgp-mobile:50% 50%;--bgs:cover;--bgs-mobile:cover;--bgr:no-repeat;--bgr-mobile:no-repeat;--bga:scroll;--bga-mobile:scroll"
        class="gEtN995Xwu gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="g8cC1Niy6g gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="gYHY4nfHvP" data-id="gYHY4nfHvP"
        style="--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--cg:8px;--pc:start;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:70%;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--h:auto;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gYHY4nfHvP gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="g3D5rmMfN6 gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="BnbIiAiTqywj">
    <div
      parentTag="Col"
        class="BnbIiAiTqywj "
        style="--ta:center;--ta-mobile:left;--mt:0px;--ml:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mt-mobile:0px;--ml-mobile:0px;--mb-mobile:11px;--mr-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px"
      >
      <div class="gp-flex" style="--jc:center;--jc-mobile:left">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:80%;--w-tablet:80%;--w-mobile:80%;--ta:left;--ff:var(--g-font-sans-serif, 'sans-serif'), var(--g-font-heading, heading);--weight:400;--size:47px;--size-tablet:46px;--size-mobile:28px;--c:rgb(255, 255, 255);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gBnbIiAiTqywj_text | replace: '$locationOrigin', locationOrigin }}</h2>
      </div>
    </div>
    </gp-text>
    
    </div><div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gbcu_rzhVQ gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="fAOYqjfXHVYk">
    <div
      parentTag="Col"
        class="fAOYqjfXHVYk "
        style="--ta:center;--ta-mobile:left;--mt:0px;--ml:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mt-mobile:0px;--ml-mobile:0px;--mb-mobile:12px;--mr-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px"
      >
      <div class="gp-flex" style="--jc:center;--jc-mobile:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:80%;--w-tablet:80%;--w-mobile:80%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-sans-serif, 'sans-serif'), var(--g-font-heading, heading);--weight:400;--size:20px;--size-tablet:18px;--size-mobile:14px;--c:#BFBFBF;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gfAOYqjfXHVYk_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
    </div>
   
    
       
      
    <div
      parentTag="Col" id="gAAsAyaxRW" data-id="gAAsAyaxRW"
        style="--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--h:auto;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gAAsAyaxRW gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gAkqje9HkJ gp-relative gp-flex gp-flex-col"
    >
      
    <gp-tab data-id="g0tjmcpOu-" gp-data='{"setting":{"childItem":["<p>Apa dură</p>","<p>Clor</p>"],"activeKey":1,"translate":"childItem","position":{"desktop":"top","tablet":"top","mobile":"top"},"labelTypoV2":{"type":"paragraph-1","custom":{"fontSize":{"desktop":"20px","tablet":"16px","mobile":"14px"}}},"panelFullWidth":{"desktop":true},"panelWidth":{"desktop":"80%","mobile":"100%"},"panelAlign":{"desktop":"center","mobile":"left"},"labelWidth":{"desktop":"200px"},"labelAlign":{"desktop":"left"},"labelBgColor":{"active":"rgba(51, 51, 51, 0)"},"labelColor":{"normal":"#808080","active":"#FFFFFF"},"borderTab":{"normal":{"border":"none","width":"1px 1px 1px 1px","borderWidth":"1px","color":"#121212","isCustom":false,"position":"all"},"hover":{"border":"none","width":"1px 1px 1px 1px","borderWidth":"1px","color":"#121212","isCustom":false,"position":"all"},"active":{"border":"none","width":"0px 0px 2px 0px","borderWidth":"Mixed","color":"#121212","position":"bottom","isCustom":true}},"background":{"desktop":{"type":"color","color":"transparent","image":{"src":"","width":0,"height":0},"size":"cover","position":{"x":50,"y":50},"repeat":"no-repeat","attachment":"scroll"}}},"builderProps":{"uid":"g0tjmcpOu-","builderData":{"uid":"g0tjmcpOu-","tag":"Tabs","label":"Tab","settings":{"childItem":["<p>Apa dură</p>","<p>Clor</p>"],"activeKey":1,"translate":"childItem","position":{"desktop":"top","tablet":"top","mobile":"top"},"labelTypoV2":{"type":"paragraph-1","custom":{"fontSize":{"desktop":"20px","tablet":"16px","mobile":"14px"}}},"panelFullWidth":{"desktop":true},"panelWidth":{"desktop":"80%","mobile":"100%"},"panelAlign":{"desktop":"center","mobile":"left"},"labelWidth":{"desktop":"200px"},"labelAlign":{"desktop":"left"},"labelBgColor":{"active":"rgba(51, 51, 51, 0)"},"labelColor":{"normal":"#808080","active":"#FFFFFF"},"borderTab":{"normal":{"border":"none","width":"1px 1px 1px 1px","borderWidth":"1px","color":"#121212","isCustom":false,"position":"all"},"hover":{"border":"none","width":"1px 1px 1px 1px","borderWidth":"1px","color":"#121212","isCustom":false,"position":"all"},"active":{"border":"none","width":"0px 0px 2px 0px","borderWidth":"Mixed","color":"#121212","position":"bottom","isCustom":true}},"background":{"desktop":{"type":"color","color":"transparent","image":{"src":"","width":0,"height":0},"size":"cover","position":{"x":50,"y":50},"repeat":"no-repeat","attachment":"scroll"}}},"styles":{},"advanced":{"spacing-setting":{"desktop":{"margin":{"bottom":"34px"},"padding":{"bottom":"16px"}},"mobile":{"margin":{"bottom":"0px"},"padding":{"bottom":"16px","right":"0px"},"link":false}},"d":{"desktop":true,"tablet":true,"mobile":true},"border":{"desktop":{"normal":{"borderType":"none","border":"none","borderWidth":"1px","width":"1px 1px 1px 1px","color":"#121212","isCustom":true}}},"rounded":{"desktop":{"normal":{"btrr":"0px","bblr":"0px","bbrr":"0px","btlr":"0px","radiusType":"none"}}},"hasBoxShadow":{"desktop":{"normal":false}},"boxShadow":{"desktop":{"normal":{"type":"shadow-1","distance":"4px","blur":"4px","spread":"4px","color":"rgba(18, 18, 18, 0.7)","angle":49}}},"op":{"desktop":"100%"}},"childrens":["gXMYPi-skF","geheSLcJAk"],"type":"component"}}}'>
      <div
        
        data-id=""
        style="--mb:34px;--pb:16px;--mb-mobile:0px;--pb-mobile:16px;--pr-mobile:0px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gp-flex g0tjmcpOu-"
      >
        <style>
            .g0tjmcpOu- .gp-navs-tab.left p,
            .g0tjmcpOu- .gp-navs-tab.right p {
              word-wrap: break-word;
              white-space: break-spaces;
            }
            .g0tjmcpOu- .wrap-width_full_desktop_top_true { width: 100%; }
.g0tjmcpOu- .wrap-width_full_tablet_top_true { width: 100%; }
.g0tjmcpOu- .wrap-width_full_mobile_top_true { width: 100%; }

        </style>
        <div
          class="gp-flex gp-w-full  gp-flex-col tablet:gp-flex-col mobile:gp-flex-col"
        >
          <div
            class="gp-flex"
            style="--jc:center;--jc-mobile:left"
          >
            <ul
              class="gp-tab-header-list gp-flex gp-flex-wrap  gp-flex-row tablet:gp-flex-row mobile:gp-flex-row"
              style="--maxw:100%;--maxw-tablet:80%;--maxw-mobile:100%"
            >
              
                  <li
                    class="gp-navs-tab gp-flex gp-flex-1 gp-cursor-pointer gp-py-2 gp-px-4"
                    aria-hidden
                    style="--bs:unset, --hvr-bs:unset, --hvr-bgc:unset, --hvr-c:unset,--hvr-bw:unset, --hvr-bc:unset"
                    key="g0tjmcpOu-"
                  >
                    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="">
    <div
      
        class=" "
        
      >
      <div  >
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-cursor-pointer gp-overflow-hidden gp-whitespace-nowrap gp-g-paragraph-1"
          style="--w:100%;--ta:left;--size:20px;--size-tablet:16px;--size-mobile:14px;word-break:break-word;overflow:hidden"
        >{{ section.settings.gg0tjmcpOu-_childItem_0 }}</div>
      </div>
    </div>
    </gp-text>
    
                  </li>
                
                  <li
                    class="gp-navs-tab gp-flex gp-flex-1 gp-cursor-pointer gp-py-2 gp-px-4"
                    aria-hidden
                    style="--bs:unset, --hvr-bs:unset, --hvr-bgc:unset, --hvr-c:unset,--hvr-bw:unset, --hvr-bc:unset"
                    key="g0tjmcpOu-"
                  >
                    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="">
    <div
      
        class=" "
        
      >
      <div  >
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-cursor-pointer gp-overflow-hidden gp-whitespace-nowrap gp-g-paragraph-1"
          style="--w:100%;--ta:left;--size:20px;--size-tablet:16px;--size-mobile:14px;word-break:break-word;overflow:hidden"
        >{{ section.settings.gg0tjmcpOu-_childItem_1 }}</div>
      </div>
    </div>
    </gp-text>
    
                  </li>
                
            </ul>
          </div>
          <div
            class="gp-flex gp-flex-1 gp-min-w-0"
          >
            <div
              class="gp-tab-item-container gp-p-4 gp-pb-0"
              key="g0tjmcpOu-"
              style="--w:100%"
            >
            
  <div
    
    style="--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%"
    class="gp-tab-item gp-child-item-g0tjmcpOu-"
  >
    
       
      
    <div
      parentTag="TabItem" id="gFDT6V1mwp" data-id="gFDT6V1mwp"
        style="--mb:var(--g-s-l);--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--h:auto;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gFDT6V1mwp gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gJxFotMdm7 gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gRemVUSr8M">
    <div
      parentTag="Col"
        class="gRemVUSr8M "
        style="--ta:left;--mt:0px;--ml:0px;--mb:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--ff:var(--g-font-sans-serif, 'sans-serif'), var(--g-font-heading, heading);--weight:400;--size:18px;--size-tablet:32px;--size-mobile:14px;--c:#BFBFBF;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggRemVUSr8M_text | replace: '$locationOrigin', locationOrigin }}</h2>
      </div>
    </div>
    </gp-text>
    
    </div>
    </div>
   
    
       
      
    <div
      parentTag="TabItem" id="gzPebiB9LN" data-id="gzPebiB9LN"
        style="--mb:8px;--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--cg:8px;--pc:start;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--h:auto;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gzPebiB9LN gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="g_VwYCjUP1 gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="g1FUa7rj0L">
    <div
      parentTag="Col"
        class="g1FUa7rj0L "
        style="--ta:left;--mt:0px;--ml:0px;--mb:8px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--ff:var(--g-font-sans-serif, 'sans-serif'), var(--g-font-heading, heading);--weight:400;--size:200px;--size-tablet:52px;--size-mobile:52px;--c:rgb(130, 240, 188);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gg1FUa7rj0L_text | replace: '$locationOrigin', locationOrigin }}</h2>
      </div>
    </div>
    </gp-text>
    
    </div><div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gZh1e4SBBr gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="gO87PDwFd1"
    role="presentation"
    class="gp-group/image gO87PDwFd1 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto"
    style="--mt:0px;--ml:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--ta:center"
    >
      <div
        class="pointer-events-auto gp-h-full gp-flex"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--jc:center"
      >
        
  <img
      quality="70" title
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex"
      data-src="{{ "gempages_569355663839331198-99ba3dd1-7d9e-4ced-91aa-193874d048e7.webp" | file_url }}" data-srcset="{{ 'gempages_569355663839331198-99ba3dd1-7d9e-4ced-91aa-193874d048e7.webp' | file_url }} 768w, {{ 'gempages_569355663839331198-99ba3dd1-7d9e-4ced-91aa-193874d048e7.webp' | file_url }} 1024w, {{ 'gempages_569355663839331198-99ba3dd1-7d9e-4ced-91aa-193874d048e7.webp' | file_url }} 1440w" src="{{ "gempages_569355663839331198-99ba3dd1-7d9e-4ced-91aa-193874d048e7.webp" | file_url }}" width="653" height="286" alt="Alt image"
      quality-type={}
      quality-percent={}
      data-sizes="auto"
      sizes="100vw"
      style="--aspect:653/286;--aspect-tablet:653/286;--aspect-mobile:653/286;--objf:cover;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto"
    />
  
      </div>
  </div>
    </div>
    </div>
   
    
  </div>
  
  <div
    
    style="--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%"
    class="gp-tab-item gp-child-item-g0tjmcpOu-"
  >
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gVyJCM4zlm">
    <div
      parentTag="TabItem"
        class="gVyJCM4zlm "
        style="--ta:center;--mb:0px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:80%;--w-tablet:80%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#BFBFBF;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggVyJCM4zlm_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
       
      
    <div
      parentTag="TabItem" id="gI5Tl2zvsS" data-id="gI5Tl2zvsS"
        style="--mb:8px;--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--cg:8px;--pc:start;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--h:auto;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gI5Tl2zvsS gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gcwzzxIJie gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="g47OxGaliT">
    <div
      parentTag="Col"
        class="g47OxGaliT "
        style="--ta:left;--mt:0px;--ml:0px;--mb:8px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--ff:var(--g-font-sans-serif, 'sans-serif'), var(--g-font-heading, heading);--weight:400;--size:200px;--size-tablet:52px;--size-mobile:52px;--c:rgb(130, 240, 188);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gg47OxGaliT_text | replace: '$locationOrigin', locationOrigin }}</h2>
      </div>
    </div>
    </gp-text>
    
    </div><div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="ggrxAZA4sC gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="ChcAslAIamEV"
    role="presentation"
    class="gp-group/image ChcAslAIamEV gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto"
    style="--mt:0px;--ml:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--ta:center"
    >
      <div
        class="pointer-events-auto gp-h-full gp-flex"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--jc:center"
      >
        
  <img
      quality="70" title
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex"
      data-src="{{ "gempages_569355663839331198-99ba3dd1-7d9e-4ced-91aa-193874d048e7.webp" | file_url }}" data-srcset="{{ 'gempages_569355663839331198-99ba3dd1-7d9e-4ced-91aa-193874d048e7.webp' | file_url }} 768w, {{ 'gempages_569355663839331198-99ba3dd1-7d9e-4ced-91aa-193874d048e7.webp' | file_url }} 1024w, {{ 'gempages_569355663839331198-99ba3dd1-7d9e-4ced-91aa-193874d048e7.webp' | file_url }} 1440w" src="{{ "gempages_569355663839331198-99ba3dd1-7d9e-4ced-91aa-193874d048e7.webp" | file_url }}" width="653" height="286" alt="Alt image"
      quality-type={}
      quality-percent={}
      data-sizes="auto"
      sizes="100vw"
      style="--aspect:653/286;--aspect-tablet:653/286;--aspect-mobile:653/286;--objf:cover;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto"
    />
  
      </div>
  </div>
    </div>
    </div>
   
    
  </div>
  
            </div>
          </div>
        </div>
      </div>
    </gp-tab>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-tab.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
    </div>
    </div>
   
    
       
      
    <div
      parentTag="Col" id="i2l686629d1bd" data-id="i2l686629d1bd"
        style="--mt:0px;--ml:auto;--mr:auto;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mt-mobile:0px;--ml-mobile:auto;--mr-mobile:auto;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:18px;--pr-mobile:0px;--cg:0px;--cg-tablet:32px;--cg-mobile:10px;--pc:center;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-tablet:minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, 6fr) minmax(0, 6fr);--w:70%;--w-tablet:100%;--w-mobile:100%;--h:100%;--bgc:rgb(0, 0, 0);--bgi:url()"
        class="i2l686629d1bd gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center;--jc-mobile:start"
      class="i2ld7047e7f96 gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="KlUcBsggzBbF">
    <div
      parentTag="Col"
        class="KlUcBsggzBbF "
        style="--ta:left;--mt:0px;--ml:0px;--mb:20px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mt-mobile:0px;--ml-mobile:0px;--mb-mobile:8px;--mr-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--ff:var(--g-font-sans-serif, 'sans-serif'), var(--g-font-heading, heading);--weight:400;--size:34px;--size-tablet:32px;--size-mobile:13px;--c:rgb(253, 253, 253);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gKlUcBsggzBbF_text | replace: '$locationOrigin', locationOrigin }}</h2>
      </div>
    </div>
    </gp-text>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="MpNQyjBmUehO">
    <div
      parentTag="Col"
        class="MpNQyjBmUehO "
        style="--ta:left;--mt:0px;--ml:0px;--mb:8px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--ff:var(--g-font-sans-serif, 'sans-serif'), var(--g-font-heading, heading);--weight:400;--size:64px;--size-tablet:52px;--size-mobile:35px;--c:rgb(131, 240, 188);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gMpNQyjBmUehO_text | replace: '$locationOrigin', locationOrigin }}</h2>
      </div>
    </div>
    </gp-text>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="rEWpXppgUYbV">
    <div
      parentTag="Col"
        class="rEWpXppgUYbV "
        style="--ta:left;--mt:0px;--ml:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-sans-serif, 'sans-serif'), var(--g-font-heading, heading);--weight:400;--size:20px;--size-tablet:18px;--size-mobile:14px;--c:rgb(128, 128, 128);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.grEWpXppgUYbV_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center;--jc-mobile:start"
      class="i2l330ab500e4 gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gmjJ10QdSU">
    <div
      parentTag="Col"
        class="gmjJ10QdSU "
        style="--ta:left;--mt:0px;--ml:0px;--mb:20px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mt-mobile:0px;--ml-mobile:0px;--mb-mobile:9px;--mr-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--ff:var(--g-font-sans-serif, 'sans-serif'), var(--g-font-heading, heading);--weight:400;--size:34px;--size-tablet:32px;--size-mobile:13px;--c:rgb(253, 253, 253);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggmjJ10QdSU_text | replace: '$locationOrigin', locationOrigin }}</h2>
      </div>
    </div>
    </gp-text>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="g6M1EhK2Et">
    <div
      parentTag="Col"
        class="g6M1EhK2Et "
        style="--ta:left;--mt:0px;--ml:0px;--mb:8px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--ff:var(--g-font-sans-serif, 'sans-serif'), var(--g-font-heading, heading);--weight:400;--size:64px;--size-tablet:52px;--size-mobile:35px;--c:rgb(131, 240, 188);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gg6M1EhK2Et_text | replace: '$locationOrigin', locationOrigin }}</h2>
      </div>
    </div>
    </gp-text>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gQ9QGs725B">
    <div
      parentTag="Col"
        class="gQ9QGs725B "
        style="--ta:left;--mt:0px;--ml:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-sans-serif, 'sans-serif'), var(--g-font-heading, heading);--weight:400;--size:20px;--size-tablet:18px;--size-mobile:14px;--c:rgb(128, 128, 128);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggQ9QGs725B_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
    </div>
   
    
    </div>
    </div>
  
            </section>
           
    


{% schema %}
  {
    
    "name": "Section 6",
    "tag": "section",
    "class": "gps-571645619102287072 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/zsqie8-wr/apps/gempages-cro/app/shopify/edit?pageType=GP_PRODUCT&editorId=569355722106602476&sectionId=571645619102287072)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"gBnbIiAiTqywj_text","label":"gBnbIiAiTqywj_text","default":"Scapă de&nbsp;<br>încrețire cu filtrul"},{"type":"html","id":"gfAOYqjfXHVYk_text","label":"gfAOYqjfXHVYk_text","default":"<p>Apa dură afectează <strong>96% dintre gospodării din România.</strong> Calcarul deteriorează pielea, părul și reduce durata de <strong>viață a aparatelor cu până la 68%.</strong></p><p><br><span style=\"background-color:rgba(244,244,244,0);color:#E0E0E0;\">(Sursa: Institutul Național de Statistică, 2024)</span></p>"},{"type":"html","id":"gg0tjmcpOu-_childItem_0","label":"gg0tjmcpOu-_childItem_0","default":"<p>Apa dură</p>"},{"type":"html","id":"gg0tjmcpOu-_childItem_1","label":"gg0tjmcpOu-_childItem_1","default":"<p>Clor</p>"},{"type":"html","id":"ggRemVUSr8M_text","label":"ggRemVUSr8M_text","default":"Apa dură înseamnă depuneri, aparate defecte și gust neplăcut. Filtrarea calcarului prelungește viața electrocasnicelor și îmbunătățește gustul apei."},{"type":"html","id":"gg1FUa7rj0L_text","label":"gg1FUa7rj0L_text","default":"94,7%"},{"type":"html","id":"ggVyJCM4zlm_text","label":"ggVyJCM4zlm_text","default":"<p>Elimină până la <strong>99% din clor și cloramina</strong>, precum și metale grele, microplastice și alte impurități, pentru o apă de duș curată.</p>"},{"type":"html","id":"gg47OxGaliT_text","label":"gg47OxGaliT_text","default":"99.2%"},{"type":"html","id":"gKlUcBsggzBbF_text","label":"gKlUcBsggzBbF_text","default":"Elimină particule&nbsp;<br>invizibile, de până la"},{"type":"html","id":"gMpNQyjBmUehO_text","label":"gMpNQyjBmUehO_text","default":"0.001<span style=\"font-size:16px;\">mm</span>"},{"type":"html","id":"grEWpXppgUYbV_text","label":"grEWpXppgUYbV_text","default":"<p>de 100x mai mici decât firul de păr!</p>"},{"type":"html","id":"ggmjJ10QdSU_text","label":"ggmjJ10QdSU_text","default":"Mai eficient decât&nbsp;<br>apa clorată"},{"type":"html","id":"gg6M1EhK2Et_text","label":"gg6M1EhK2Et_text","default":"94%"},{"type":"html","id":"ggQ9QGs725B_text","label":"ggQ9QGs725B_text","default":"<p>din coloniile bacteriene</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
